
<header id="header">
          <div class="container">
            <div class="row">
              <div class="col-md-2 col-sm-12 col-xs-12">
                <!-- Logo -->
                <div class="logo">
                </div>
                <!--/ End Logo -->
              </div>
              <div class="col-md-10 col-sm-12 col-xs-12">
                <div class="nav-area">
                  <!-- Main Menu -->
                  <nav class="mainmenu">
                    <div class="mobile-nav"></div>
                    <div class="collapse navbar-collapse">
                      <ul class="nav navbar-nav menu">
                        <li class="active"><a routerLink="/home">Home</a></li>
                        <li><a routerLink="/home">ITCS</a></li>
                        <li><a routerLink="/home">About Us</a></li>
                        <li><a routerLink="/home">Resources</a></li>		
                        <li><a routerLink="/home">Contact US</a></li>
                        <li><a routerLink="/login">Login</a></li>
                      </ul>
                    </div>
                  </nav>
                  <!--/ End Main Menu -->
                </div>
              </div>
            </div>
          </div>
</header>

    <!-- Page Content -->
    <div class="container" class="article-service">

        <section id="our-skill" class="section" style="padding:0px">
            <div class="container">
              <div class="row"> 
                <div class="col-md-12 col-sm-12 col-xs-12 wow fadeIn">
                  <div class="info-main">
                    <div class="section-title left">
                      <h2 style="font-size: 25px">  <span>Introduction</span></h2>
                    </div>
                  </div>
                  <div>
                      <div class="some-info">
                          <p> The world has experienced an extraordinary change in the retail marketplace in the past decade which is evidenced by the expectation that online shopping will surpass 17.5% of retail sales by 2021. As this market has matured, online sellers have continually benefitted from tax savings derived from high tax-free thresholds in many markets including Australia. The Australian tax-free threshold of AUD$1000 has been a significant factor in the country becoming one of the top 5 markets for most online sellers.</p>
                      </div>
                      <div class="some-info">
                          <p>  Recognising the significantly high threshold of AUD$1000, the Australian Government commissioned consultation with government bodies, customs and retailers which has resulted in the bold move to enact legislation that will significantly impact the online shopping community. The legislation commencing 1st July 2018, will create considerable burden and challenges on foreign shippers of e-Commerce goods to Australia.</p>
                      </div>
                  </div>
                </div>		
              </div>
            </div>
        </section>

        <section id="our-skill" class="section" style="padding:0px">
            <div class="container">
              <div class="row"> 
                <div class="col-md-12 col-sm-12 col-xs-12 wow fadeIn">
                  <div class="info-main">
                    <div class="section-title left">
                      <h2 style="font-size: 25px">  <span>Impact for foreign sellers</span></h2>
                    </div>
                  </div>
                  <div>
                      <div class="some-info">
                          <p> The five key areas that foreign sellers will be impacted by the new legislation are:</p>
                      </div>
                      <div class="some-info">
                          <p>
                              1. <a href= "" style="font-size: 16px" class="disable-me" >Registering for a GST Reference number (ARN) </a> - 1.	Any party selling more than AUD$75,000.00 per year to Australian consumers will be required to register with the Australian Tax Office (ATO) and obtain an ARN.
                              </p>
                              <p>
                              2. <a href= "" style="font-size: 16px" class="disable-me">Collecting GST </a> - It will be the responsibility of the seller to collect GST on all sales to Australian consumers. This will entail changes to shopping carts to include a GST collection component. This GST will be payable to the ATO.
                              </p>
                              <p>
                                3. <a href= "" style="font-size: 16px" class="disable-me">GST Report Lodgement </a> - The seller will be required to lodge a quarterly GST report to the ATO and this must be prepared by a recognised Australian GST agent. The GST payable will be determined by this report and is due payable on the 28th of the month following the quarter.   
                              </p>
                              <p>
                              4. <a href= "" style="font-size: 16px" class="disable-me"> Currency fluctuations </a> - With GST collection being an ongoing process throughout the quarter, any sellers not conducting transactions in AUD will be subject to the currency fluctuations by the time the GST is payable
                              </p>
                              <p>
                              5. <a  href= "" style="font-size: 16px" class="disable-me"> Reverse Logistics </a> - With the ability to claim a GST refund on returns that have been re-exported, reverse logistics will become a major factor in the industry. Currently returns may prove more costly than the products’ value by itself, hence the ability to withdraw the GST will make this far more attractive.
                              </p>
                      </div>
                  </div>
                </div>		
              </div>
            </div>
        </section>

        <section id="our-skill" class="section" style="padding:0px">
            <div class="container">
              <div class="row"> 
                <div class="col-md-12 col-sm-12 col-xs-12 wow fadeIn">
                  <div class="info-main">
                    <div class="section-title left">
                      <h2 style="font-size: 25px">  <span>How will the ATO monitor activities</span></h2>
                    </div>
                  </div>
                  <div>
                      <div class="some-info">
                          <p>  The ATO have established data sharing with the Department of Home Affairs (Customs) for which the value of the transaction and the ARN will be provided to the ATO. This information will be reconciled against the GST reports lodged by the seller at the same time when the ATO enforces the new legislation accordingly. </p>
                      </div>
                  </div>
                </div>		
              </div>
            </div>
        </section>

        <section id="our-skill" class="section" style="padding:0px">
            <div class="container">
              <div class="row"> 
                <div class="col-md-12 col-sm-12 col-xs-12 wow fadeIn">
                  <div class="info-main">
                    <div class="section-title left">
                      <h2 style="font-size: 25px">  <span>What This All Means For Foreign Sellers </span></h2>
                    </div>
                  </div>
                  <div>
                      <div class="some-info">
                          <p> 
                              The emphasis for collecting tax and all obligations pertaining to this is now the responsibility of the seller. The obligations include:
                          </p>
                          <p style="font-size: 15px;color: #616161;">
                              1.	Registering with the ATO to obtain a GST reference number
                          </p>
                          <p style="font-size: 15px;color: #616161;">
                              2. Collecting 10% GST for sales made to Australia
                          </p>
                          <p style="font-size: 15px;color: #616161;">
                              3. Declaring the correct value and passing on GST reference number to the freight forwarder or importer
                          </p>
                          <p style="font-size: 15px;color: #616161;">
                              4. Preparing and lodging a GST report quarterly
                          </p>
                          <p style="font-size: 15px;color: #616161;">
                              5. Paying the GST collected to the ATO on the 28th of the month following the end of the quarter.
                          </p>  
                          
                          <p > Whilst the above obligations must be carried out by the seller or any agent acting on their behalf, it would be wise to consider processes that include the below: </p>
                          <p style="font-size: 15px;color: #616161;"> 
                                  1. Amending shopping carts to include a GST collection component</p>
                          <p style="font-size: 15px;color: #616161;"> 
                                  2. Consider selling in AUD if not currently </p>
                          <p style="font-size: 15px;color: #616161;"> 
                                  3. GST drawback on return product that have been re-exported </p>
                      </div>
                  </div>
                </div>		
              </div>
            </div>
        </section>

        <section id="our-skill" class="section" style="padding:0px">
            <div class="container">
              <div class="row"> 
                <div class="col-md-12 col-sm-12 col-xs-12 wow fadeIn">
                  <div class="info-main">
                    <div class="section-title left">
                      <h2 style="font-size: 25px">  <span>Conclusion </span></h2>
                    </div>
                  </div>
                  <div>
                      <div class="some-info">
                          <p> 
                              Significant changes are ahead for the online shopping industry. With Australia venturing into uncharted territories, it will be interesting to see how methodical the authorities will be monitoring and enforcing noncompliance of the new legislation.
                          </p>
                          <p>
                              As with anything new, it would be expected that there will be an adjustment period both within the market and by regulatory bodies. In the same context, it should be expected that this will be a short adjustment period and this will drive more and more Australian service providers to offer a complete solution where all GST related services are seamlessly integrated with the existing supply chain. 
                          </p>
                          <p>
                              There is a popular saying, with great risk comes potential great reward. Only time will tell if and when the rest of the world will follow Australia's lead.....
                          </p>
                      </div>
                  </div>
                </div>		
              </div>
            </div>
        </section>
      
    </div>
   
<!-- Start Footer -->
<footer id="footer" style="margin-top: 30px" class="wow fadeIn">
      <!-- Copyright -->
      <div class="copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="text">
                <p>&copy; Copyright 2018<span><i class="fa fa-heart"></i></span><a href="https://themewagon.com/" target="_blank">JPD</a> Global</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/ End Copyright -->
</footer>
<!--/ End Footer -->
