<header id="header">
        <div class="container">
          <div class="row">
            <div class="col-md-2 col-sm-12 col-xs-12">
              <!-- Logo -->
              <div class="logo">
              </div>
              <!--/ End Logo -->
            </div>
            <div class="col-md-10 col-sm-12 col-xs-12">
              <div class="nav-area">
                <!-- Main Menu -->
                <nav class="mainmenu">
                  <div class="mobile-nav"></div>
                  <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav menu">
                      <li class="active"><a routerLink="/home">Home</a></li>
                      <li><a routerLink="/home">ITCS</a></li>
                      <li><a routerLink="/home">About Us</a></li>
                      <li><a routerLink="/home">Resources</a></li>		
                      <li><a routerLink="/home">Contact US</a></li>
                      <li><a routerLink="/login">Login</a></li>
                    </ul>
                  </div>
                </nav>
                <!--/ End Main Menu -->
              </div>
            </div>
          </div>
        </div>
</header>
   
   <!-- Page Content -->
   <div class="container" class="article-service">
        
        <section id="our-skill" class="section" style="padding:0px">
            <div class="container">
              <div class="row"> 
                <div class="col-md-12 col-sm-12 col-xs-12 wow fadeIn">
                  <div class="info-main">
                    <div class="section-title left">
                      <h2 style="font-size: 20px; text-align: center">  
                            <span> TERMS OF USE – JPD GLOBAL PTY LTD ACN 617 936 606 </span></h2>
                    </div>
                  </div>
                  <div>
                  </div>
                </div>		
              </div>
            </div>
        </section>

        <section id="our-skill" class="section" style="padding:0px">
                <div class="container">
                  <div class="row"> 
                    <div class="col-md-12 col-sm-12 col-xs-12 wow fadeIn">
                      <div class="info-main">
                        <div class="section-title left">
                          <h2 style="font-size: 20px">  <span> Terms of Use </span></h2>
                        </div>
                      </div>
                      <div>
                          <div class="some-info">
                                <p> These Terms of Use are intended to explain our obligations as a service provider and Your obligations as a customer. Please read them carefully.</p>
                                <p> These Terms are binding on any use of the Service and apply to You from the time that JPD provides You with access to the Service. </p> 
                                <p> The JPD Service may evolve over time based on user feedback, business requirements, changes in law and other factors. JPD reserves the right to change these terms at any time, effective upon the posting of modified terms and JPD will make every effort to communicate these changes to You via email or notification via the Website or another reasonable means. It is likely the Terms of use will change over time. It is Your obligation to ensure that You have read, understood and agree to the most recent terms available on the Website. If you do not accept any updated Terms, then you may terminate this Agreement by giving JPD one month’s notice and You will be bound by the immediately preceding Terms of Use (without prejudice to continuing rights, obligations and remedies) until the effective termination.</p>
                                <p> By registering to use the Service you acknowledge that You have read and understood these Terms and have the authority to act on behalf of any person for whom You are using the Service. You are deemed to have agreed to these Terms on behalf of any entity for whom you use the Service.</p>
                                <p> These Terms were last updated at the close of business (Sydney time) on 31 July 2018</p>
                          </div>
                      </div>
                    </div>		
                  </div>
                </div>
        </section>

        <section id="our-skill" class="section" style="padding:0px">
                <div class="container">
                  <div class="row"> 
                    <div class="col-md-12 col-sm-12 col-xs-12 wow fadeIn">
                      <div class="info-main">
                        <div class="section-title left">
                          <h2 style="font-size: 20px">  <span> 1. Definitions </span></h2>
                        </div>
                      </div>
                      <div>
                          <div class="some-info">
                                <p>Agreement or Terms means these Terms of Use, as updated, replaced or superseded from time to time.</p>
                    
                                <p>Access Fee means the monthly fee (excluding any taxes, duties or like imposts) payable by You in accordance with the Fee Schedule.</p>
            
                                <p> Confidential Information includes all information exchanged between the parties to this Agreement, whether in writing, electronically or orally, including the Service but does not include information which is, or becomes, publicly available other than through unauthorised disclosure by the other party.</p>
            
                                <p>Data means any data inputted by You or with Your authority into the Website.</p>
            
                                <p>Fee Schedule means the information relating to subscriptions and billing set out on the JPD subscriptions and billing pages on <a href="http://www.jpdglobal.com.au/#/pricing" target="blank">http://www.jpdglobal.com.au/#/pricing</a> or any other page(s) on the Website notified by JPD, which may be updated or amended by JPD from time to time.</p>
            
                                <p>Force Majeure means any event or circumstance outside a party’s reasonable control including, but not limited to, fire, storm, flood, lightning, earthquake, natural disaster, explosion, war (whether declared or not), terrorism, invasion, rebellion, sabotage, epidemic, blockade, embargo, riot, disturbance, lockout, labour dispute, labour shortage or other labour disturbance, failure or delay in the availability of equipment or transportation, any act, delay or omission by a Government Agency (including, but not limited to, the creation or amendment of laws and regulations, the grant, delay in granting or refusal to grant any approvals, consents, licences, permits or authorities) or the failure of a supplier, public utility or common carrier.</p>
                            
                                <p>Government Agency means a government or government department or a governmental, semi-governmental, regulatory or judicial entity or authority, or a person (whether autonomous or not) who is charged with the administration of a law. </p>    
            
                                <p> Intellectual Property Right means any patent, trade mark, service mark, copyright, moral right, right in a design, know-how and any other intellectual or industrial property rights, anywhere in the world whether or not registered.</p>
            
                                <p> JPD means JPD Global Pty Ltd ACN 617 936 606, a company incorporated under the laws of Australia and all current and future global or local subsidiaries of JPD Global Pty Ltd.</p>
            
                                <p> Organisations has the meaning given to it in clause 3.2.</p>
            
                                <p> Service means the online GST return data preparation services made available (as may be changed or updated from time to time by JPD) via the Website.</p>
            
                                <p> Website means the Internet site at the domain <a href="http://www.jpdglobal.com.au" target="blank">http://www.jpdglobal.com.au </a> or any other relevant site operated by JPD</p>
            
                                <p> Invited User means any person or entity, other than the Subscriber, that uses the Service with the authorisation of the Subscriber from time to time.</p>
            
                                <p> Subscriber means the person who registers to use the Service, and, where the context permits, includes any entity on whose behalf that person registers to use the Service.</p>
            
                                <p> You means the Subscriber, and where the context permits, an Invited User. "Your" has a corresponding meaning.</p>
                              
                          </div>
                      </div>
                    </div>		
                  </div>
                </div>
        </section>

        <section id="our-skill" class="section" style="padding:0px">
                <div class="container">
                  <div class="row"> 
                    <div class="col-md-12 col-sm-12 col-xs-12 wow fadeIn">
                      <div class="info-main">
                        <div class="section-title left">
                          <h2 style="font-size: 20px">  <span> 2. Use of Software  </span></h2>
                        </div>
                      </div>
                      <div>
                          <div class="some-info">
                                <p>JPD grants You the right to access and use the Service via the Website with the particular user roles available to You according to Your subscription type. This right is non-exclusive, non-transferable, and limited by and subject to this Agreement. You acknowledge and agree that, subject to any applicable written agreement between the Subscriber and the Invited Users, or any other applicable laws:</p>
                                <p>(a)	the Subscriber determines who is an Invited User and what level of user role access to the relevant organisation and Service that Invited User has;</p>
                                <p>(b)	the Subscriber is responsible for all Invited Users’ use of the Service;</p>
                                <p>(c)	the Subscriber controls each Invited User’s level of access to the relevant organisation and Service at all times and can revoke or change an Invited User’s access, or level of access, at any time and for any reason, in which case that person or entity will cease to be an Invited User or shall have that different level of access, as the case may be;</p>
                                <p>(d)	if there is any dispute between a Subscriber and an Invited User regarding access to any organisation or Service, the Subscriber shall decide what access or level of access to the relevant Data or Service that Invited User shall have, if any.</p>    
                          </div>
                      </div>
                    </div>		
                  </div>
                </div>
        </section>

        <section id="our-skill" class="section" style="padding:0px">
                <div class="container">
                  <div class="row"> 
                    <div class="col-md-12 col-sm-12 col-xs-12 wow fadeIn">
                      <div class="info-main">
                        <div class="section-title left">
                          <h2 style="font-size: 20px">  <span> 3.Your Obligations </span></h2>
                        </div>
                      </div>
                      <div>
                          <div class="some-info">
                                <h5 class="subheading">3.1 Payment obligations </h5>
                                <p>(a)	An invoice for the Access Fee will be issued each month in accordance with the details set out in the Fee Schedule, or at such other intervals that JPD may determine. JPD will continue invoicing You in accordance with the Fee Schedule until this Agreement is terminated in accordance with clause 8. </p>
                                
                                <p>(a)	All JPD invoices will be sent to You, or to a Billing Contact whose details are provided by You, by email. Payment of all amounts specified in an invoice must be paid in accordance with the Fee Schedule. You are responsible for payment of all taxes and duties in addition to the Access Fee. </p>
                            
                            <h5 class="subheading">3.2 Preferential pricing or discounts</h5>
                                <p>You may from time to time be offered preferential pricing or discounts for the Access Fees as a result of the number of organisations that You have added to the Service or that have been added with Your authority or as a result of Your use of the Service (Organisations). Eligibility for such preferential pricing or discounts is conditional upon Your acceptance of responsibility for payment of any Access Fees in relation to all of Your Organisations. Without prejudice to any other rights that JPD may have under this Agreement or at law, JPD reserves the right to render invoices for the full (non-discounted) Access Fees due or suspend or terminate Your use of the Service in respect of any or all of Your Organisations in the event that any invoices for those Access Fees are not paid in full in accordance with the requirements set out in the Fee Schedule.
                                </p>
                            
                            <h5 class="subheading">3.3 Payment method refund policy</h5>
                                <p>If Your payment method is incorrectly charged, JPD will refund you the incorrect amount, or the difference between the correct and incorrect amount as applicable. Your refund will be credited to the payment method that You used. Except as otherwise expressly set out in this Agreement, JPD is under no obligation to refund any amount You previously paid for any Service.</p>
                            
                            <h5 class="subheading"> 3.4 Extra Cost </h5>
                                <p>If the Service is suspended because of incorrect or insufficient instructions given by or on behalf of You, or if additional tasks or issues are created due to the nature of Your use of the Service, JPD may increase the cost of the Access Fees to you. If the Service is suspended, JPD may require you to prepay those additional costs (and any other outstanding costs) before the Service is re-activated.</p>
                            
                            <h5 class="subheading"> 3.5 General obligations </h5>
                                <p>You must only use  the Service and Website for Your  own lawful internal business purposes, in accordance with this Agreement and any notice sent by JPD or condition posted on the Website. You may use the Service and Website on behalf of others or in order to provide services to others but if You do so you must ensure that You are authorised to do so and that all persons for whom or to whom services are provided comply with and accept all terms of this Agreement that apply to You.
                                </p>
                            
                            <h5 class="subheading"> 3.6 Automated Bank transaction data delivered into Your JPD account</h5>
                                <p>This clause applies only if and when automated bank account transaction data fees are available as part of the Service.</p>
                                <p> Where available, automated bank account transaction data feeds are generally provided to You free of charge. However, JPD reserves the right to pass on any charges related to the provision of bank feed data on a case-by-case basis at JPD’s sole discretion. JPD would first inform You via email to indicate what those charges are likely to be (as such charges may vary depending on Your bank and Your volume of bank feeds). You have the option to decide to discontinue use of automated bank feeds at any time. To exercise this option, you must give  JPD sufficient prior notice of which automated bank  account transaction data feeds you want to discontinue. Upon receiving such notice JPD will arrange for such feeds to be terminated in accordance with each bank’s usual practices.</p>
            
                            <h5 class="subheading"> 3.7 Access conditions </h5>
                                <p>(a) You must ensure that all usernames and passwords required to access the Service are kept secure and confidential. You must immediately notify JPD of any unauthorised use of Your passwords or any other breach of security and JPD will reset Your password and You must take all other actions that JPD reasonably deems necessary to maintain or enhance the security of JPD's computing systems and networks and Your access to the Services.
                                </p>
            
                                <p>(b) As a condition of this Agreement, when accessing and using the Services and at any time after this Agreement comes to an end, You must:
                                </p>
            
                                <p> (i)	not attempt to undermine the security or integrity of JPD's computing systems or networks or, where the Services are hosted by a third party, that third party's computing systems and networks;
                                </p>
            
                                <p> (ii) not use, or misuse, the Services in any way which may impair the functionality of the Services or Website, or other systems used to deliver the Services or impair the ability of any other user to use the Services or Website;
                                </p>
            
                                <p>(iii) not attempt to gain unauthorised access to any materials other than those to which You have been given express permission to access or to the computer system on which the Services are hosted;
                                </p>
            
                                <p> (iv) not transmit, or input into the Website, any files that may damage any other person's computing devices or software, content that may be offensive, or material or Data in violation of any law (including Data or other material protected by copyright or trade secrets which You do not have the right to use);
                                </p>
            
                                <p> (v)	not attempt to modify, copy, adapt, reproduce, disassemble, decompile or reverse engineer any computer programs used to deliver the Services or to operate the Website except as is strictly necessary to use either of them for normal operation;
                                </p>
            
                                <p>(vi) not use the Services for any illegal or unlawful activity under any law in Australia or any other relevant jurisdiction;
                                </p>
            
                                <p>(vii) not, directly or indirectly, use the Service or any part of them for the purposes of reverse engineering the Service or any of JPD’s offerings, processes, procedures;
                                </p>
            
                                <p>(viii) not develop, or have a direct or indirect economic interest in the development of any service or website that will or may be reasonably considered as a competing product, service or website.
                                </p>
            
                                <p>(ix)	You agree that currency conversion processes that JPD offers or utilises are subject to the following general process and rules:
                                </p>
            
                                <p> (A)	The conversion date is determined by the sale date provided by You or as we may otherwise determine (acting reasonably).
                                </p>
            
                                <p> (B)	The currency conversation rate used is that of the Reserve Bank of Australia’s for the particular day, as if calculated using the method for determination relevant  as  summarily  discussed  by  the  Australian  Taxation  Office  at <a href="https://www.ato.gov.au/Business/International-tax-for-business/GST-on-low-value-imported-goods/Terms-we-use/" target="blank"> https://www.ato.gov.au/Business/International-tax-for-business/GST-on-low-value-imported-goods/Terms-we-use/</a> You  are  taken  to  have  read  and understood the information on that website.
                                </p>
            
                            <h5 class="subheading"> 3.8 Usage Limitations</h5>
                                <p>Use of the Service may be subject to limitations, including but not limited to monthly transaction volumes and the number of calls You are permitted to make against JPD’s application programming interface. Any such limitations will be advised.</p>
                               
                            <h5 class="subheading">3.9 Communication Conditions </h5>
                                <p>(a) As a condition of this Agreement, if You use any communication tools available through the Website (such as any forum, chat room or message centre), You agree only to use such communication tools for lawful and legitimate purposes. You must not use any such communication tool for posting or disseminating any material unrelated to the use of the Services, including (but not limited to): offers of goods or services for sale, unsolicited commercial e-mail, files that may damage any other person's computing devices or software, content that may be offensive to any other users of the Services or the Website, or material in violation of any law (including material that is protected by copyright or trade secrets which You do not have the right to use).
                                </p>
            
                                <p>(b) When You make any communication on the Website, You represent that You are permitted to make such communication. JPD is under no obligation to ensure that the communications on the Website are legitimate or that they are related only to the use of the Services. As with any other web-based forum, You must exercise caution when using the communication tools available on the Website. However, JPD does reserve the right to remove any communication at any time in its sole discretion.
                                </p>
                            
                            <h5 class="subheading">3.10 Indemnity </h5>
                                <p>You indemnify JPD against all claims, costs, damage and loss arising from Your breach of any of these Terms or Agreement or any obligation You may have to JPD, including (but not limited to) any costs relating to the recovery of any Access Fees that are due but have not been paid by You.
                                </p>
                          </div>
                      </div>
                    </div>		
                  </div>
                </div>
        </section>

        <section id="our-skill" class="section" style="padding:0px">
                <div class="container">
                  <div class="row"> 
                    <div class="col-md-12 col-sm-12 col-xs-12 wow fadeIn">
                      <div class="info-main">
                        <div class="section-title left">
                          <h2 style="font-size: 20px">  <span> 4.Confidentiality and Privacy  </span></h2>
                        </div>
                      </div>
                      <div>
                            <div class="some-info">
                                    <h5 class="subheading">4.1 Confidentiality </h5>
                                    <p>Unless the relevant party has the prior written consent of the other or unless required to do so by law: </p>
                
                                    <p> (a)	Each party will preserve the confidentiality of all Confidential Information of the other obtained in connection with this Agreement. Neither party will, without the prior written consent of the other, disclose or make any Confidential Information available to any person, or use the same for its own benefit, other than as contemplated by these Terms. </p>
                                    
                                    <p> (b) Each party's obligations under this clause will survive termination of these Terms. </p>
                
                                    <p> (c)	The provisions of clauses 4.1(a) and 4.1(b) shall not apply to any information which:</p>
                
                                    <p> (i)	is or becomes public knowledge other than by a breach of this clause; </p>
                
                                    <p> (ii)	is received from a third party who lawfully acquired it and who is under no obligation restricting its disclosure; </p>
                                
                                    <p> (iii)	is in the possession of the receiving party without restriction in relation to disclosure before the date of receipt from the disclosing party; or</p>
                        
                                    <p> (iv)	is independently developed without access to the Confidential Information.</p>
                
                                    <h4 class="subheading">4.2 Privacy </h4>
                
                                    <p> JPD maintains a privacy policy that sets out the parties’ obligations in respect of personal information. You should read that policy at <a href="http://www.jpdglobal.com.au/#/resource-termsAndServices" target="blank">http://www.jpdglobal.com.au/#/resource-termsAndServices </a>and You will be taken to have accepted that policy when You accept these Terms.</p>
                
                              </div>
                      </div>
                    </div>		
                  </div>
                </div>
        </section>

        <section id="our-skill" class="section" style="padding:0px">
                <div class="container">
                  <div class="row"> 
                    <div class="col-md-12 col-sm-12 col-xs-12 wow fadeIn">
                      <div class="info-main">
                        <div class="section-title left">
                          <h2 style="font-size: 20px">  <span>5  Intellectual Property </span></h2>
                        </div>
                      </div>
                      <div>
                        <div class="some-info">
                                <h5 class="subheading">5.1  General </h5>

                                <p>Title to, and all Intellectual Property Rights in the Services, the Website and any documentation relating to the Services remain the property of JPD (or its licensors). </p>
            
                                <h5 class="subheading">5.2  Ownership of Data</h5>
            
                                <p> Title to, and all Intellectual Property Rights in, the Data remain Your property. However, Your access to the Data is contingent on full payment of the JPD Access Fee when due. You grant JPD a licence to use, copy, transmit, store, adopt, use and back-up Your information and Data for the purposes of:</p>
            
                                <p> (i)	enabling You to access and use the Services and for any other purpose related to provision of services to You; and</p>
                                
                                <p> (ii)	complying with any order or summons of any competent court or any direction, order, notice or requirement of any Government Agency. </p>
                        
                                <h5 class="subheading">5.3  Backup of Data</h5> 
                                
                                <p> You must maintain copies of all Data inputted into the Service. JPD adheres to its best practice policies and procedures to prevent data loss, including a daily system data back- up regime but does not make any guarantees that there will be no loss of Data. JPD expressly excludes liability for any loss of Data no matter how caused.</p>
            
                                <h5 class="subheading">5.4  Third-party applications and your Data </h5>
            
                                <p> If You enable  third-party applications for use in conjunction  with  the  Services, You acknowledge that JPD may allow the providers of those third-party applications to access Your Data as required for the interoperation of such third-party applications with the Services. JPD shall not be responsible for any disclosure, modification or deletion of Your Data resulting from any such access by third-party application providers.</p>
                        </div>
                      </div>
                    </div>		
                  </div>
                </div>
        </section>

        <section id="our-skill" class="section" style="padding:0px">
                <div class="container">
                  <div class="row"> 
                    <div class="col-md-12 col-sm-12 col-xs-12 wow fadeIn">
                      <div class="info-main">
                        <div class="section-title left">
                          <h2 style="font-size: 20px">  <span>6  Warranties and Acknowledgements </span></h2>
                        </div>
                      </div>
                      <div>
                        <div class="some-info">
                                <h5 class="subheading">6.1   Authority </h5>

                                <p> You warrant that where You have registered to use the Service on behalf of another person, You have the authority to agree to these Terms on behalf of that person and agree that by registering to use the Service You bind the person on whose behalf You act to the performance of any and all obligations that You become subject to by virtue of these Terms, without limiting Your own personal obligations under these Terms.</p>
                                
                                <h5 class="subheading">6.2  Acknowledgement </h5>
            
                                <p> You acknowledge that: </p>
            
                                <p> (a)	You are authorised to use the Services and the Website and to access the information and Data that You input into the Website, including any information or Data input into the Website by any person you have authorised to use the Service. You are also authorised to access the processed information and Data that is made available to You through Your use of the Website and the Services (whether that information and Data is Your own or that of anyone else).</p>            
                                
                                <p> (a)	JPD has no responsibility to any person other than You and nothing in this Agreement confers, or purports to confer, a benefit on any person other than You. If You use the Services or access the Website on behalf of or for the benefit of anyone other than yourself (whether a body corporate or otherwise) you agree that:  </p>
                            
                                <p> (i)	You are responsible for ensuring that You have the right to do so;  </p>
            
                                <p> (ii) You are responsible for authorising any person who  is  given  access  to information or Data, and you agree that JPD has no obligation to provide any person access to such information or Data without Your authorisation and may refer any requests for information to You to address; and </p>
                            
                                <p> (iii) You will indemnify JPD against any claims or loss relating to:</p>
            
                                <p> (a)	JPD's refusal to provide any person access to Your information or Data in accordance with these Terms, </p>
            
                                <p> (b)	JPD’s making available information or Data to any person with Your authorisation.  </p>
            
                                <p> (c)	The provision of, access to, and use of, the Services is on an "as is" basis and at Your own risk. </p>
                            
                                <p> (d)	JPD does not warrant that the use of the Service will be uninterrupted or error free. Among other things, the operation and availability of the systems used for accessing the Service, including public telephone services, computer networks and the Internet, can be unpredictable and may from time to time interfere with or prevent access to the Services. JPD is not in any way responsible for any such interference or prevention of Your access or use of the Services. </p>
                            
                                <p> (e)	JPD is not Your accountant and use of the Services does not constitute the receipt of accounting or taxation advice. If You have any accounting or taxation questions, please contact a suitably qualified accountant or tax adviser. </p>
                            
                                <p> (f)	It is Your sole responsibility to determine that the Services meet the needs of Your business and are suitable for the purposes for which they are used. </p>
                            
                                <p> (g)	You remain solely responsible for complying with all applicable accounting, tax and other laws. It is Your responsibility to check that storage of and access to your Data via the Software and the Website will comply with laws applicable to you (including any laws requiring you to retain records).</p>
                            
                                <h5 class="subheading">6.3  No warranties: </h5>
            
                                <p> JPD gives no warranty about the Services. Without limiting the foregoing, JPD does not warrant that the Services will meet Your requirements or that it will be suitable for any particular purpose. To avoid doubt, all implied conditions or warranties are excluded in so far as is permitted by law, including (without limitation) warranties of merchantability, fitness for purpose, title and non-infringement.</p>
            
                                <h5 class="subheading">6.4  Consumer guarantees: </h5>
            
                                <p> You warrant and represent that You are acquiring the right to access and use the Services for the purposes of a business and that, to the maximum extent permitted by law, any statutory consumer guarantees or legislation intended to protect non-business consumers in any jurisdiction does not apply to the supply of the Services, the Website or these Terms.</p>
                        </div>
                      </div>
                    </div>		
                  </div>
                </div>
        </section>
        
        <section id="our-skill" class="section" style="padding:0px">
                <div class="container">
                  <div class="row"> 
                    <div class="col-md-12 col-sm-12 col-xs-12 wow fadeIn">
                      <div class="info-main">
                        <div class="section-title left">
                          <h2 style="font-size: 20px">  <span>7  Limitation of Liability </span></h2>
                        </div>
                      </div>
                      <div>
                        <div class="some-info">
                                <p> 7.1	  Subject to clause 7.2,  to the maximum extent permitted by law, JPD liability to You in contract, tort, statute or in any other way (whether arising from negligence or otherwise) for any damage, exposure, liability, claim or loss of any kind whatsoever (including, without limitation, any liability for direct, indirect, special or consequential loss or damage): </p>

                                <p> (a)	sustained by You, Your officers, employees, agents, contractors and any other person;  </p>
            
                                <p> (b)	for any costs, charges, damages or  expenses incurred by You, Your officers, employees, agents, contractors and any other person;</p>
                            
                                <p> (c)	for any loss of information, Data, compromise of any information, compromise of any Data;</p>
            
                                <p> (d)	for any loss of profits, revenues, customers or assets, </p>
            
                                <p> whether resulting, directly or indirectly, from any use of, or reliance on, the Service or Website or any related information, statements or services provided by or on behalf of JPD is expressly limited to the greater of A$60 and the sum of the Access Fees paid by You in the previous months of the time of which your claim. </p>
                                
                                <p> 7.2	You waive any right or claim you may otherwise have had if you fail to make the claim in writing within 12 months of your right to make a claim occurring or of you becoming aware of your right to make a claim. </p>
            
                                <p> 7.3	If You are not satisfied with the Service, Your sole and exclusive remedy is to terminate these Terms in accordance with Clause 8.</p>
                            
                        </div>
                      </div>
                    </div>		
                  </div>
                </div>
        </section>

        <section id="our-skill" class="section" style="padding:0px">
                <div class="container">
                  <div class="row"> 
                    <div class="col-md-12 col-sm-12 col-xs-12 wow fadeIn">
                      <div class="info-main">
                        <div class="section-title left">
                          <h2 style="font-size: 20px">  <span>8	Termination </span></h2>
                        </div>
                      </div>
                      <div>
                        <div class="some-info">
                                <h5 class="subheading">8.1  Prepaid Subscriptions </h5>
                                    <p> JPD will not provide any refund for any remaining prepaid period for a prepaid Access Fee subscription. </p>
                                <h5 class="subheading">8.2  No-fault termination </h5>
                                    <p> These Terms will continue for the period covered by the Access Fee paid or payable under clause 3.1. At the end of each billing period these Terms will automatically continue for another period of the same duration as that period, provided You continue to pay the prescribed Access Fee in accordance with the Fee Schedule, unless either party terminates these Terms by giving at least one month’s advance written notice. If You elect to terminate these Terms by providing one month's’ advance written notice, You shall be liable to pay all relevant Access Fees up to and including the day of termination of these Terms.</p>
                    
                            <h5 class="subheading">8.3  Breach </h5>

                            <p> If You: </p>

                            <p> (a)	breach any of these Terms and do not remedy the breach within 14 days after receiving notice of the breach if the breach is capable of being remedied;</p>
                        
                            <p> (b)	breach any of these Terms and the breach is not capable of being remedied (which includes (without limitation) any breach of clause 3.4 or any payment of Access Fees that are not paid in full in accordance with the requirements set out in the Fee Schedule); or</p>
                        
                            <p> (c) You or Your business become insolvent or bankrupt or Your business goes into liquidation or has a receiver or manager appointed to any of its assets or if You become insolvent, or make any arrangement with Your creditors, or become subject to any similar insolvency or bankruptcy event in any jurisdiction</p>
                            
                            <p> JPD may take any or all of the following actions, at its sole discretion: </p>

                            <p> (d)	Terminate this Agreement and Your use of the Services and the Website;  </p>

                            <p> (e)	Suspend for any definite or indefinite period of time, Your use of the Services and the Website; </p>

                            <p> (f)	Suspend or terminate access to all or any Data. </p>

                            <p> (g)	Take either of the actions in sub-clauses (d), (e) and (f) of this clause 8.3 in respect of any or all other persons whom You have authorised to have access to Your information or Data. </p>

                            <p> For the avoidance of doubt, if payment of any invoice for Access Fees due in relation to any of Your Billing Contacts, Billing Plans or any of Your Organisations (as defined at clause 3) is not made in accordance with the requirements set out in the Fee Schedule, JPD may: suspend or terminate Your use of the Service, the authority for all or any of Your Organisations to use the Service, or Your rights of access to all or any Data.</p>

                            <h5 class="subheading">8.4  Accrued Rights: </h5>

                            <p> Termination of these Terms is without prejudice to any rights and obligations of the parties accrued up to and including the date of termination. On termination of this Agreement You will:</p>

                            <p> (a)	remain liable for any accrued charges and amounts which become due for payment before or after termination; and </p>

                            <p> (b) immediately cease to use the Services and the Website.</p>

                            <h5 class="subheading">8.5  Expiry or termination: </h5>

                            <p> Clauses 3.1, 3.8, 3.10, 4, 5, 6, 7, 8 and 11 survive the expiry or termination of this Agreement.</p>
                        </div>
                      </div>
                    </div>		
                  </div>
                </div>
        </section>

        <section id="our-skill" class="section" style="padding:0px">
                <div class="container">
                  <div class="row"> 
                    <div class="col-md-12 col-sm-12 col-xs-12 wow fadeIn">
                      <div class="info-main">
                        <div class="section-title left">
                          <h2 style="font-size: 20px">  <span>9	Help Desk </span></h2>
                        </div>
                      </div>
                      <div>
                        <div class="some-info">
                                <h5 class="subheading">9.1  Technical Problems </h5>

                                <p> In the case of technical problems You must make all reasonable efforts to investigate and diagnose problems before contacting JPD. If You still need technical help, please check the support  provided  online  by  JPD  on  the  Website  or  failing  that  email  us at <a href="mailto:support@JPD.com">support@JPD.com</a> </p>
                                
                                <h5 class="subheading">9.2  Service availability </h5>
            
                                <p> (a)	Whilst JPD intends that the Services should be available 24 hours a day, seven days a week, it is possible that on occasions the Services or Website may be unavailable to permit maintenance or other development activity to take place. Technology failures and other issues may also result in disruptions to the Service.</p>
                            
                                <p> (b)	If for any reason JPD has to interrupt the Services for longer periods than JPD would normally expect, JPD will use reasonable endeavours to publish in advance details of such activity on the Website.</p>
                                
                                <p> (c)	You waive any right to claim a deduction, discount or set off against any Access Fee or other amount payable or paid to JPD due to any suspension or interruption of the Service.</p>            
                        </div>
                      </div>
                    </div>		
                  </div>
                </div>
        </section>

        <section id="our-skill" class="section" style="padding:0px">
                <div class="container">
                  <div class="row"> 
                    <div class="col-md-12 col-sm-12 col-xs-12 wow fadeIn">
                      <div class="info-main">
                        <div class="section-title left">
                          <h2 style="font-size: 20px">  <span>10  Liability </span></h2>
                        </div>
                      </div>
                      <div>
                        <div class="some-info">
                                <p> To the maximum extent permitted by law, our liability to You is limited to the maximum of the value of Access Fees that You have paid to JPD, less any refunds. You waive any right to make any claim or demand or to commence or at any time claim against JPD any amount to the extent it exceeds the value of the Access Fees that You have paid to JPD, less any refunds.</p>
                        </div>
                      </div>
                    </div>		
                  </div>
                </div>
        </section>

        <section id="our-skill" class="section" style="padding:0px">
                <div class="container">
                  <div class="row"> 
                    <div class="col-md-12 col-sm-12 col-xs-12 wow fadeIn">
                      <div class="info-main">
                        <div class="section-title left">
                          <h2 style="font-size: 20px">  <span>11  No relationship </span></h2>
                        </div>
                      </div>
                      <div>
                        <div class="some-info">
                                <p> Nothing in this Agreement constitutes that JPD and You are partners, agents, employees or representatives of one another or creates any trust, association or partnership in law or for any purpose whatsoever nor do the parties intend their activities under this Agreement to constitute a business, financial, operation or venture. You do not have the power or authority (expressed or implied) to bind JPD to act as agent, employee or servant of any other party or to incur any obligation or otherwise pledge the credit of JPD except as expressly provided in this Agreement.</p>
                            </div>
                      </div>
                    </div>		
                  </div>
                </div>
        </section>

        <section id="our-skill" class="section" style="padding:0px">
                <div class="container">
                  <div class="row"> 
                    <div class="col-md-12 col-sm-12 col-xs-12 wow fadeIn">
                      <div class="info-main">
                        <div class="section-title left">
                          <h2 style="font-size: 20px">  <span>12  General  </span></h2>
                        </div>
                      </div>
                      <div>
                        <div class="some-info">
                                <h5 class="subheading">12.1  Entire agreement   </h5>

                                <p> These Terms, together with the JPD Privacy Policy and the terms of any other notices or instructions given to You under these Terms of Use, supersede and extinguish all prior agreements, representations (whether oral or written), and understandings and constitute the entire agreement between You and JPD relating to the Services and the other matters dealt with in these Terms.</p>
                                
                                <h5 class="subheading">12.2  Force Majeure </h5>
            
                                <p> No party is liable for any failure to perform or delay in performing its obligations under this Agreement if that failure is due to anything beyond that party’s reasonable control. If that failure or delay exceeds 14 days, any other party may terminate this Agreement immediately by giving notice to each other party without prejudice to any accrued rights or remedies of any party. This clause 12.2 does not apply to any obligations to pay money.</p>
            
                                <h5 class="subheading">12.3  Waiver</h5>
            
                                <p> If either party waives any breach of these Terms, this will not constitute a waiver of any other breach. No waiver will be effective unless made in writing</p>
            
                                <h5 class="subheading">12.4  Delays </h5>
            
                                <p> Neither party will be liable for any delay or failure in performance of its obligations under these Terms if the delay or failure is due to any cause outside its reasonable control. This clause does not apply to any obligation to pay money.</p>
            
                                <h5 class="subheading">12.5  Assignment </h5>
            
                                <p> You may not assign or transfer any rights to any other person without JPD's prior written consent. We may however assign or transfer this Agreement or any benefits or liabilities under this Agreement by providing notice to you</p>
            
                                <h5 class="subheading">12.6  Governing law and jurisdiction</h5>
            
                                <p> This Agreement will be governed by and construed in accordance with the laws in force in New South Wales, Australia. You submit to the exclusive jurisdiction of the courts of New South Wales and any court that may hear appeals from those courts. You waive any right You might have to object to an action being brought in those courts including, but not limited to, that those courts are an inconvenient forum.</p>
            
                                <h5 class="subheading">12.7  Severability</h5>
            
                                <p> If any part or provision of these Terms is invalid, unenforceable or in conflict with the law, that part or provision is replaced with a provision which, as far as possible, accomplishes the original purpose of that part or provision. The remainder of this Agreement will be binding on the parties.</p>
            
                                <h5 class="subheading">12.8  Notices </h5>
            
                                <p> Any notice given under these Terms by either party to the other must be in writing by email and will be deemed to have been given on transmission. Notices to JPD must be sent to <a href="mailto:support@JPD.com">support@JPD.com</a> or to any other email address notified by email to You by JPD. Notices to You will be sent to the email address which You provided when setting up Your access to the Service or to the address of yours last known to JPD by post or courier.</p>
            
                                <h5 class="subheading">12.9  Rights of Third Parties</h5>
            
                                <p> A person who is not a party to these Terms has no right to benefit under or to enforce any term of these Terms.</p>
                            
                                <h5 class="subheading">12.10	Words and expressions </h5>
                                
                                <p> In this Agreement, unless the context requires otherwise: </p>
            
                                <p> (a)	the singular includes the plural and vice versa; </p>
            
                                <p> (b)	words denoting any gender include all genders;</p>
            
                                <p> (c)	where  a  word  or  phrase  is  defined,  its  other  grammatical  forms  have  a corresponding meaning;</p>
            
                                <p> (d)	a reference to a party, clause, paragraph, schedule or annexure is a reference to a party, clause, paragraph, schedule or annexure to or of this Agreement;</p>
            
                                <p> (e)	a reference to this Agreement includes any schedules or annexures;</p>
            
                                <p> (f)	headings are for convenience and do not affect interpretation;</p>
            
                                <p> (g)	the background or recitals to this Agreement are adopted as and form part of this Agreement; </p>
            
                                <p> (h)	a reference to any document or agreement includes a reference to that document or agreement as amended, novated, supplemented, varied or replaced from time to time;</p>
            
                                <p> (i)	a reference to “$”, “A$”, “$AU”, “AUD” or “dollar” is a reference to Australian currency;</p>
            
                                <p> (j)	a reference to a time is a reference to Australian Eastern Standard Time or Australian Eastern Daylight Time, whichever is appropriate in Sydney, Australia;</p>
            
                                <p> (k)	a reference to a party includes its executors, administrators, successors, substitutes (including persons taking by novation) and permitted assigns;</p>
            
                                <p> (l)	a reference to writing includes any method of representing words, figures or symbols in a permanent and visible form;</p>
            
                                <p> (m)	words and expressions denoting natural persons include bodies corporate, partnerships, associations, firms, governments and governmental authorities and agencies and vice versa;</p>
                                
                                <p> (n)	a reference to any legislation or to any provision of any legislation includes:</p>
            
                                <p> (i)	any modification or re-enactment of the legislation;</p>
            
                                <p> (ii) any  legislative  provision  substituted  for,  and  all  legislation,  statutory instruments and regulations issued under, the legislation or provision; and</p>
                            
                                <p> (iii)	where  relevant,  corresponding  legislation  in  any  Australian  State  or Territory;</p>
            
                                <p> (o)	no rule of construction applies to the disadvantage of a party because that party was responsible for the preparation of this Agreement or any part of it; and</p>
                            
                                <p> (p)	the words “including”, “for example”, “such as” or other similar expressions (in any form) are not words of limitation;</p>
                            
                                <p> (q)	a reference to any act of a company includes an act performed in general meeting or on the company’s behalf by its directors, officers, employees, share registrars, accountants, solicitors or agents;</p>
                                
                                <p> (r)	a reference to a body (including, but not limited to, an institute, association or authority) whether statutory or not:</p>
                            
                                <p> (i)	which ceases to exist; or</p>
            
                                <p> (ii)  whose powers or functions are transferred to another body,</p>
            
                                <p> is a reference to the body which replaces it or which substantially succeeds to its powers or functions.</p>            
                        </div>
                      </div>
                    </div>		
                  </div>
                </div>
        </section>
   </div>
  
<footer id="footer" style="margin-top: 30px" class="wow fadeIn">
        <!-- Copyright -->
        <div class="copyright">
          <div class="container">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="text">
                  <p>&copy; Copyright 2018<span><i class="fa fa-heart"></i></span><a href="https://themewagon.com/" target="_blank">JPD</a> Global</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/ End Copyright -->
</footer>