<div class="container" style="margin-top:-40px"> 
    
<div class="arn-heading">Admin Login</div>

        <ngx-spinner
            bdColor="rgba(51,51,51,0.8)"
            size="medium"
            color="#fff"
            loadingText="Loading..."
            type="ball-circus">
        </ngx-spinner>

    <div class="arn-admin-css">
                <mat-tab-group (selectChange)='onSelectChange($event)'>        
                        <mat-tab label="ARN Registration using CSV">
                                        <div style="padding: 15px">
                                            <a href="/assets/forms/ARN-Register.xlsx" class="fa fa-file-excel-o" 
                                                style="color: darkgreen; font-size:18px;" download>
                                                    **Please click here to download the template for ARN Registration 
                                            </a>
                                        </div>  
                                    
                                        <div style="padding: 20px;">
                                                <input type="file" style="display:inline-block;" (change)="arnFileData($event)" 
                                                                placeholder="Upload file" accept=".xlsx">
                                                <button type="button" class="btn btn-info" (click)="uploadArn()" 
                                                                style="background-color: #0671b7;">Upload ARN File</button>
                
                                                <div style="margin-top: 20px;">
                                                    <p style="color:green; font-size: 16px;font-weight: 500;">{{successMsg}}</p>
                                                </div>

                                                <div style="margin-top: 20px;">
                                                     <p style="color: #ca2929; font-size:16px; font-weight:500;">
                                                             {{errorMsg}}</p>
                                                </div>
                
                                                <div style="margin-top: 20px;"> 
                                                <mat-progress-bar mode="determinate" value= "100"></mat-progress-bar>
                                                </div>
                
                                                <div class="table-wrap">
                                                    <table style="width: 100%;border:1px solid #ccc; border: 1px solid #ccc; margin-top: 20px;">
                                                                <thead>
                                                                        <tr>
                                                                                <th>Serial.No</th>
                                                                                <th>Authorized Contact</th>
                                                                                <th>Business Type</th>
                                                                                <th>Country</th>
                                                                                <th>Email Address</th>
                                                                                <th>Legal Name</th>
                                                                                <th>Phone Number</th>
                                                                                <th>Post Code</th>
                                                                                <th>Postal Address</th>
                                                                                <th>SubUrb</th>
                                                                                <th>TIN Number</th>
                                                                                <th>Website Name</th>
                                                                        </tr>
                                                                </thead>
                                                                <tbody>
                                                                        <tr *ngFor="let file of fileData;let i = index">
                                                                                <td>{{i+1}}</td>
                                                                                <td>{{file.authrorizedConatct}}</td>
                                                                                <td>{{file.businessType}}</td>
                                                                                <td>{{file.country}}</td>
                                                                                <td>{{file.emailAddress}}</td>   
                                                                                <td>{{file.legalName}}</td>
                                                                                <td>{{file.phoneNumber}}</td>
                                                                                <td>{{file.postCode}}</td>   
                                                                                <td>{{file.postalAddress}}</td>   
                                                                                <td>{{file.subUrb}}</td>   
                                                                                <td>{{file.tanNumber}}</td>   
                                                                                <td>{{file.websiteName}}</td>                                               
                                                                        </tr>
                                                                </tbody>
                                                    </table>
                                                </div>
                                        </div> 



                        </mat-tab>
                                  
                        <mat-tab label="Sign up for user">
                                        <div class="limiter">
                                                <div class="container-login100">
                                                    <div class="wrap-login100 p-l-40 p-r-50 p-t-40 p-b-30">
                                        
                                                        <form class="login100-form validate-form" [formGroup]="adminSignUpForm" style="margin-top:-40px;">
                                                            <span class="login80-form-title p-b-20">
                                                                
                                                            </span>

                                                            <div class="wrap-input100 validate-input m-b-23" >
                                                                    <span class="label-input100">Access Level</span>
                                                                    <div  class="form-group" style="margin-top:10px">
                                                                        <mat-select matInput placeholder="Select Access Level">
                                                                            <mat-option *ngFor="let adminLevel of adminAccessLevel" [value]="adminLevel" (click)="accessLevelFun(adminLevel)">
                                                                                {{adminLevel}}
                                                                            </mat-option>
                                                                        </mat-select>
                                                                    </div>
                                                            </div>
                                                            
                                                            <div *ngIf="legalNameFlag" class="wrap-input100 validate-input m-b-23" 
                                                            data-validate = "Legal Name is reauired">
                                                                    <span class="label-input100">Legal Name</span>
                                                                    <input class="input100" type="text" name="legalName" placeholder="Type your LegalName" 
                                                                            (change)="textInput()"	formControlName="LegalName">
                                                                    <span class="focus-input100" data-symbol="&#xf206;"></span>
                                                            </div>

                                                            <div *ngIf="legalNameSelctFlag" class="wrap-input100 validate-input m-b-23" >
                                                                    <span class="label-input100">Legal Name</span>
                                                                    <div  class="form-group" style="margin-top:10px">
                                                                        <mat-select matInput placeholder="Select Legal Name">
                                                                            <mat-option *ngFor="let company of companyDetails" [value]="company" 
                                                                                            (click)="companyFun(company)">
                                                                                {{company}}
                                                                            </mat-option>
                                                                        </mat-select>
                                                                    </div>
                                                            </div>

                                                            <div *ngIf="levelTwoFlag" class="wrap-input100 m-b-23">
                                                                    <span class="label-input100">Authorised contacts</span>
                                                                    <input class="input100" type="text" name="authrorizedConatct" placeholder="Authrorized Conatct username" 
                                                                            (change)="textInput()" formControlName="authrorizedConatct">
                                                                    <span class="focus-input100" data-symbol="&#xf206;"></span>
                                                            </div>
                        
                                                            <div *ngIf="levelTwoFlag" class="wrap-input100 m-b-23">
                                                                    <span class="label-input100">Email Address</span>
                                                                    <input class="input100" type="text" name="emailAddress" placeholder="Type your Email" 
                                                                            (change)="textInput()" formControlName="emailAddress"> 
                                                                    <span class="focus-input100" data-symbol="&#xf206;"></span>
                                                            </div>
                                        
                                                            <div *ngIf="levelTwoFlag" class="wrap-input100">
                                                                    <span class="label-input100">Phone number</span>
                                                                    <input class="input100" type="text" name="phoneNumber" placeholder="Type your phoneNumber" 
                                                                            (change)="textInput()"	formControlName="phoneNumber">
                                                                    <span class="focus-input100" data-symbol="&#xf206;"></span>
                                                            </div>

                                                            <div *ngIf="arnRestrict" class="wrap-input100 m-b-23">
                                                                    <span class="label-input100">ARN Number</span>
                                                                    <input class="input100" type="text" name="arnNumber" placeholder="Type your arn Number" 
                                                                            (change)="textInput()"	formControlName="arnNumber">
                                                                    <span class="focus-input100" data-symbol="&#xf206;"></span>
                                                            </div>
                                        
                                                            <div class="wrap-input100 validate-input m-b-15" data-validate = "Username is reauired">
                                                                    <span class="label-input100">Username</span>
                                                                    <input class="input100" type="text" name="username" placeholder="Type your username" 
                                                                            (change)="textInput()" formControlName="username">
                                                                    <span class="focus-input100" data-symbol="&#xf206;"></span>
                                                            </div>

                                                            <div class="wrap-input100 m-b-23">
                                                                    <span class="label-input100">Level-1 User Name</span>
                                                                    <input class="input100" type="text" name="managerName" 
                                                                            placeholder="Type your Level-1 UserName" formControlName="managerName">
                                                                    <span class="focus-input100" data-symbol="&#xf206;"></span>
                                                            </div>
                                        
                                                            <div class="wrap-input100 validate-input m-b-23" data-validate="Password is required">
                                                                <span class="label-input100">Password</span>
                                                                <input class="input100" type="password" name="password" placeholder="Type your password" 
                                                                        (change)="textInput()" formControlName="password">
                                                                <span class="focus-input100" data-symbol="&#xf190;"></span>
                                                            </div>
                                        
                                                            <div class="wrap-input100 validate-input m-b-23" data-validate="Confirm Password is required">
                                                                    <span class="label-input100">Confirm Password</span>
                                                                    <input class="input100" type="password" name="confirmPassword" placeholder="Repeat password" 
                                                                        (change)="textInput()"	formControlName="confirmPassword">
                                                                    <span class="focus-input100" data-symbol="&#xf190;"></span>
                                                            </div>
                                                        
                                                            <ngx-spinner
                                                                bdColor="rgba(51,51,51,0.8)"
                                                                size="medium"
                                                                color="#fff"
                                                                loadingText="Loading..."
                                                                type="ball-circus">
                                                            </ngx-spinner>
                                                            
                                                            <div *ngIf="signUpSuccessFlag">
                                                                    <p style="color:green;font-size:16px;font-weight:500;text-align:center;"> Successfully Signed up
                                                                        <a routerLink="/login" routerLinkActive="active" style="font-size: 16px">click here to login</a></p>
                                                            </div>

                                                            <div class="text-right p-t-8 p-b-31">
                                                                    <p class="error-msg">{{errorMsg}}</p>
                                                            </div>
                                        
                                                            <div class="container-login100-form-btn" style="margin-top: -15px;">
                                                                <div class="wrap-login100-form-btn">
                                                                    <div class="login100-form-bgbtn"></div>
                                                                    <button class="login100-form-btn" (click)="adminSignUp()">
                                                                        Sign Up
                                                                    </button>
                                                                </div>
                                                            </div>
                                        
                                                            <div class="flex-col-c p-t-155" style="margin-top: -20px;">
                                                                    <a routerLink="/login" routerLinkActive="active" 
                                                                        class="nav-link js-scroll-trigger" style="font-size: 17px">Back to Login</a>
                                                            </div>
                                        
                                                            <div style="margin-top: 10px; text-align: center">
                                                                    <a routerLink="/home" routerLinkActive="active" 
                                                                        class="nav-link js-scroll-trigger" style="font-size: 17px">Back to Home</a>
                                                            </div>
                                        
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                        </mat-tab>
                                          
                        <mat-tab label="Download outstanding GST report">
                                        <div style="height: 630px">
                                                <div style="padding: 30px;">
                                                    <div style="font-weight: 400;"> 
                                                       Please click the below Option to download the GST Report :
                                                    </div>
                                                </div>

                                                <div style="margin-left: 30px; float:left; margin-bottom:30px">
                                                    <button class="btn btn-info" (click)="adminDownLoad()"
                                                    style="background-color: #0671b7;">
                                                            Outstanding GST report 
                                                    </button>         
                                                </div>
                                        
                                                <div class="table-wrap-upload" style="padding:30px">
                                                    <table style="width: 100%;border:1px solid #ccc; border: 1px solid #ccc; margin-top: 20px;">
                                                        <thead>
                                                            <tr>
                                                                <th>Serial.No</th>
                                                                <th>User Code</th>
                                                                <th>Company Name</th>
                                                                <th>Total Sales (AUD)</th>
                                                                <th>Total GST Payable (AUD)</th>
                                                                <th>GST Excluded Sales (AUD)</th>
                                                            </tr>
                                                        </thead>
                                                        <tbody>
                                                                <tr *ngFor="let file of adminDetails;let i = index">
                                                                    <td>{{i+1}}</td>
                                                                    <td>{{file.user_code}}</td>
                                                                    <td>{{file.company_name}}</td>
                                                                    <td>{{file.total_sales_in_AUD}}</td>
                                                                    <td>{{file.gst_payable}}</td>
                                                                    <td>{{file.total_GST_Exclude_sales_in_AUD}}</td>                                            
                                                                </tr>
                                                        </tbody>
                                                </table>
                                            </div>
                                        </div>    
                        </mat-tab>
                </mat-tab-group>
    </div>
        
</div>