<body class="nav-md" #maintoggle>
      <div class="container body">
          <div class="main_container">
              <div class="col-md-3 left_col">
                  <div class="left_col scroll-view">
                  <div class="clearfix"></div>
                        <div class="profile clearfix">
                            <div class="profile_pic">
                            <img src="../../../assets/img/user.png" alt="..." class="img-circle profile_img">
                            </div>
                            <div class="profile_info">
                            <span>Welcome,</span>
                            <h2>{{this.userName}}</h2>
                        </div>
                  </div>
                  
                  <br/>
    
                  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                      <div class="menu_section">
                          <ul class="nav side-menu">
                          <li>
                              <a (click)="toggle(arrow)"><i class="fa fa-home"></i> Admin Login 
                                    <span class="fa fa-chevron-down" #arrow></span></a>
                              <ul class="nav child_menu" [ngStyle]="{'display': !childmenuOne ? 'block' : 'none'}">
                                <li><a routerLink="/arn-register/admin"> ARN Registration </a></li>
                                <li><a routerLink="/arn-register/signUp"> Sign Up for User </a></li>
                                <li><a routerLink="/arn-register/download"> Download Outstanding GST Report</a></li>
                              </ul>
                          </li>
                          </ul>
                      </div>
                  </div>
                </div>
      </div>
     
      <div class="top_nav">
          <nav>
              <ul class="nav navbar-nav navbar-right">
                  <li class="">
                            <a href="javascript:;" class="user-profile dropdown-toggle" 
                                data-toggle="dropdown" aria-expanded="false">
                            <img src="../../../assets/img/user.png" alt=""> {{this.userName}}
                            <span class=" fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu pull-right">
                            
                            <li><a routerLink="/home"><i class="fa fa-sign-out pull-right"></i> 
                              Log Out</a></li>
                            </ul>
                  </li>
              </ul>
          </nav>   
      </div>
    
      <div class="right_col" role="main">
            <div class="row tile_count">
                      <div class="page-title">
                              <div class="title_left">
                                <h3 style="margin-left: 10px;">GST Outstanding Report</h3>
                              </div>
                      </div>
            </div>
      </div>

      <div class="right_col" role="main">

          <ngx-spinner
            bdColor="rgba(51,51,51,0.8)"
            size="medium"
            color="#fff"
            loadingText="Loading..."
            type="ball-clip-rotate-multiple">
          </ngx-spinner>

          <div class="modal fade" id="fileUploadModal" role="dialog">
                  <div class="modal-dialog">
                    <div class="modal-content" style="margin-top: 150px; width: 900px; margin-left: -150px;">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title" style="font-size: 17px; color: darkgoldenrod;">{{successMsg}} {{errorMsg}}</h4>
                      </div>
                        <div *ngIf="show">
                          <a style="float: left; margin-left: 20px; margin-top: 12px;">Click icon to download the refrence number :</a>
                           <i class="fa fa-file-excel-o" (click)="downLoad()"
                              style="margin:10px; color: green; font-size:25px !important; cursor: pointer;"aria-hidden="true"></i>
                        </div>
                        <div class="modal-body">
                          <div>
                           <p class="err_msg" style="word-wrap: break-word">{{errorDetails1}}</p>
                          </div>
                        </div>
                      <div class="modal-footer">
                      </div>
                    </div>
                  </div>
          </div>

          <div class="fileupload_search">
              <div style="padding-right: 15px; margin-bottom:20px">
                  <p>
                      Please click the below Option to download the GST Report:
                  </p>
              </div>

              <button type="button" 
                      class="btn btn-info" 
                      (click)="totalGstReport()"
                      style="background-color: #16A085">
                      Outstanding GST Report
              </button>
          </div>

          <div class="fileupload_panel">
                  <div style="padding:20px">
        
                      <div>
                          <ag-grid-angular 
                                    #agGrid style="width: 100%; height: 400px;" 
                                    class="ag-theme-balham" 
                                    [autoGroupColumnDef]="autoGroupColumnDef"
                                    [rowData]="rowData"
                                    [enableSorting]="true"
                                    [enableFilter]="true"
                                    [suppressRowClickSelection]="true"
                                    [groupSelectsChildren]="true"
                                    [debug]="true"
                                    [rowSelection]="rowSelection"
                                    [enableColResize]="true"
                                    [rowGroupPanelShow]="rowGroupPanelShow"
                                    [pivotPanelShow]="pivotPanelShow"
                                    [enableRangeSelection]="true"
                                    [pagination]="true"
                                    [defaultColDef]="defaultColDef"
                                    [gridOptions]="gridOptions" 
                                    [pagination]="true"
                                    (selectionChanged)="onSelectionChange($event)">
                          </ag-grid-angular>
                      </div>
                  </div>
          </div>

      </div>
    
      <footer id="footer" class="wow fadeIn">
                <div class="copyright">
                  <div class="container">
                    <div class="row">
                      <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="text">
                          <p>&copy; Copyright 2018<span><i class="fa fa-heart"></i></span><a>JPD</a> (Distributor)</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
      </footer>
    </div>
 </div>
</body>
    