<header id="header">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-sm-12 col-xs-12">
          <!-- Logo -->
          <div class="logo">
          </div>
          <!--/ End Logo -->
        </div>
        <div class="col-md-10 col-sm-12 col-xs-12">
          <div class="nav-area">
            <!-- Main Menu -->
            <nav class="mainmenu">
              <div class="mobile-nav"></div>
              <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav menu">
                  <li class="active"><a routerLink="/home">Home</a></li>
                  <li><a routerLink="/home">Services</a></li>
                  <li><a routerLink="/home">About Us</a></li>
                  <li><a routerLink="/home">Resources</a></li>		
                  <li><a routerLink="/home">Contact US</a></li>
                  <li><a routerLink="/login">Login</a></li>
                </ul>
              </div>
            </nav>
            <!--/ End Main Menu -->
          </div>
        </div>
      </div>
    </div>
</header>
   
   <!-- Page Content -->
   <div class="container" class="article-service">

      <section id="our-skill" class="section" style="padding:0px">
          <div class="container">
            <div class="row"> 
              <div class="col-md-12 col-sm-12 col-xs-12 wow fadeIn">
                <div class="info-main">
                  <div class="section-title left">
                    <h2 style="font-size: 20px">  <span> AUSTRALIAN GST UPDATE </span></h2>
                  </div>
                </div>
                <div>
                    <div class="some-info">
                        <p> Less than a month remains in the first quarter of the Australian 2018-19 financial year. Never before has a single quarter held such relevance on a global stage nor has the impact of what is to follow been dismissed so cheaply. As the ATO prepares to receive a multitude of quarterly reports from around the world, many of those who import to Australia are still neglecting their new responsibilities. This article will set out some of the key points for exporters to consider when sending freight to Australia.</p>
                    </div>
                </div>
              </div>		
            </div>
          </div>
      </section>

      <section id="our-skill" class="section" style="padding:0px">
          <div class="container">
            <div class="row"> 
              <div class="col-md-12 col-sm-12 col-xs-12 wow fadeIn">
                <div class="info-main">
                  <div class="section-title left">
                    <h2 style="font-size: 20px">  <span> ENFORCING COMPLIANCE </span></h2>
                  </div>
                </div>
                <div>
                    <div class="some-info">
                        <p>o	The ATO now has the power to recover outstanding taxes via foreign governments and their courts under The Multilateral Convention on Mutual Administrative Assistance in Tax Matters.<span style="color: #0e7ac1; font-size: 13px;">3</span> </p>
                        <p>o	The ATO retrieves information from AUSTRAC regarding compliance. <span style="color: #0e7ac1; font-size: 13px;">4</span></p>
                        <p>o	Universal Postal Union (UPU) regulations require Posts to share information about the sender, contents, and value with customs authorities.<span style="color: #0e7ac1; font-size: 13px;">5</span></p>    
                    </div>
                </div>
              </div>		
            </div>
          </div>
      </section>

      <section id="our-skill" class="section" style="padding:0px">
          <div class="container">
            <div class="row"> 
              <div class="col-md-12 col-sm-12 col-xs-12 wow fadeIn">
                <div class="info-main">
                  <div class="section-title left">
                    <h2 style="font-size: 20px">  <span> NON -COMPLIANCE WITH NEW LAWS  </span></h2>
                  </div>
                </div>
                <div>
                    <div class="some-info">
                        <p>o	ATO register you for GST, calculate your liability and issue an assessment.</p>
                        <p>o	ATO impose an additional 75% administrative penalty plus General Interest Charges (GIC).</p>
                        <p>o	ATO proceeds with recovery action. Outstanding debt is registered in a court in the seller’s country and the taxation authority of that country recovers the debt on behalf of the ATO.<span style="color: #0e7ac1; font-size: 13px;">6</span></p>       
                    </div>
                </div>
              </div>		
            </div>
          </div>
      </section>

      <section id="our-skill" class="section" style="padding:0px">
          <div class="container">
            <div class="row"> 
              <div class="col-md-12 col-sm-12 col-xs-12 wow fadeIn">
                <div class="info-main">
                  <div class="section-title left">
                    <h2 style="font-size: 20px">  <span> WHAT DOES THIS MEAN FOR YOU   </span></h2>
                  </div>
                </div>
                <div>
                    <div class="some-info">
                        <p>o	Outlined below is the 2 options sellers have, as well as a table of potential penalties for non-compliance: </p>    
                        <p class="article-png">
                                <img src="/assets/img/article.png" style="margin-right:20px;"/>
                        </p>
                        <p>Our service ensures sellers meet their obligations to maintain compliance and avoid unnecessary penalties. Contact Dwayne today for pricing at <a href="mailto:dwayne@jpdglobal.com.au">dwayne@jpdglobal.com.au</a> or visit <a href="www.jpdglobal.com.au" target="blank">www.jpdglobal.com.au</a></p>        
                    </div>
                </div>
              </div>		
            </div>
          </div>
      </section>

      <section id="our-skill" class="section" style="padding:0px">
          <div class="container">
            <div class="row"> 
              <div class="col-md-12 col-sm-12 col-xs-12 wow fadeIn">
                <div class="info-main">
                  <div class="section-title left">
                    <h2 style="font-size: 20px">  <span> Notes:   </span></h2>
                  </div>
                </div>
                <div>
                    <div class="some-info">
                        <p>1. Compliant calculation = GST payable</p>
                        <p>2. Non-Compliant calculation = GST payable + Penalty (75% administration fee and GIC of 8.78% per annum for 1 year)</p>
                        <p>
                            <a href="https://read.oecd-ilibrary.org/taxation/the-multilateral-convention-on-mutual-administrative-assistance-in-tax-matters_9789264115606-en#page18" target="blank">3. https://read.oecd-ilibrary.org/taxation/the-multilateral-convention-on-mutual-administrative-assistance-in-tax-matters_9789264115606-en#page18</a>
                        </p>
                        <p>
                            <a href="http://austrac.gov.au/sites/default/files/documents/austrac_info_to_foreign_gov_policy.pdf" target="blank">4. http://austrac.gov.au/sites/default/files/documents/austrac_info_to_foreign_gov_policy.pdf</a>
                        </p>
                        <p>
                            <a href="http://www.upu.int/en/activities/customs/about-customs.html" target="blank"> 5. http://www.upu.int/en/activities/customs/about-customs.html	</a>
                        </p>
                        <p>
                            <a href="https://www.ato.gov.au/Business/International-tax-for-business/GST-on-low-value-imported-goods/Making-compliance-happen/" target="blank">6. https://www.ato.gov.au/Business/International-tax-for-business/GST-on-low-value-imported-goods/Making-compliance-happen/</a>
                        </p>    
                    </div>
                </div>
              </div>		
            </div>
          </div>
      </section>
   
   </div>
  
<footer id="footer" style="margin-top: 30px" class="wow fadeIn">
    <!-- Copyright -->
    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="text">
              <p>&copy; Copyright 2018<span><i class="fa fa-heart"></i></span><a href="https://themewagon.com/" target="_blank">JPD</a> Global</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/ End Copyright -->
</footer>