<!-- Start Header -->
  <header id="header">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-sm-12 col-xs-12">
          <!-- Logo -->
          <div class="logo">
          </div>
          <!--/ End Logo -->
        </div>
        <div class="col-md-10 col-sm-12 col-xs-12">
          <div class="nav-area">
            <!-- Main Menu -->
            <nav class="mainmenu">
              <div class="mobile-nav"></div>
              <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav menu">
                  <li class="active"><a href="#j-slider">Home</a></li>
                  <li><a href="#service">Services</a></li>
                  <li><a href="#about-us">About Us</a></li>
                  <!-- <li><a href="#our-skill">Our Skill</a></li> -->
                  <!-- <li><a href="#why-choose">Why Choose</a></li> -->
                  <!-- <li><a href="#portfolio">Portfolio</a></li>		 -->
                  <li><a href="#resource">Resources</a></li>		
                  <li><a href="#contact">Contact US</a></li>
                  <li><a routerLink="/login">Login</a></li>
                </ul>
              </div>
            </nav>
            <!--/ End Main Menu -->
          </div>
        </div>
      </div>
    </div>
  </header>
  <!--/ End Header -->

  <!-- Start Slider -->
  <section id="j-slider">
    <div class="slide-main">
      <div class="single-slider" style="background-image:url(../../../assets/img/import-tax.png);" >
        <div class="container">
          <div class="row">
            <div class="col-md-8 col-sm-12 col-xs-12">
              <div class="slide-text left">
                <div class="slider-inner">
                  <h1><span></span>Import Tax Compliance Software (ITCS)</h1>
                  <p>Compliance software purpose built for the changes in import tax regulations. ITCS is reliable, compliant and our experts are here to support your business  </p>
                  <div class="slide-button">
                    <a href="#contact" class="button primary">Contact Us</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ End Slider -->

  <section id="our-skill" class="section" style="padding-bottom:20px">
      <div class="container">
        <div class="row"> 
          <div class="col-md-6 col-sm-12 col-xs-12 wow fadeIn">
            <div class="info-main">
              <div class="section-title left">
                <h2 style="font-size: 20px">  <span>BASIC INFORMATION ON THE LAW CHANGES:</span></h2>
              </div>
            </div>
            <div>
                <div class="some-info">
                    <p>Seller must collect taxes (GST) on behalf of the Australia Tax Office (ATO). </p>
                </div>
                <div class="some-info">
                  <p>Seller must report sales to the ATO and pass on collected GST. </p>
                </div>
                <div class="some-info">
                  <p>Large fines and other ramification for noncompliance.</p>
                </div>
                <div class="some-info">
                    <p>Well integrated systems & individuals with global expertise dedicated  to making your supply chain efficient and cost effective.</p>
                </div>
            </div>
          </div>		

          <div class="col-md-6 col-sm-10 col-xs-10">
              <div class="info-main">
                  <div class="section-title left">
                    <h2 style="font-size: 20px">  <span>ATO - ENFORCING COMPLIANCE:</span></h2>
                  </div>
                </div>
                <div>
                    <div class="some-info">
                        <p>The ATO now has the power to recover outstanding taxes via foreign governments and their courts under The Multilateral Convention on Mutual Administrative Assistance in Tax Matters. </p>
                    </div>
                    <div class="some-info">
                          <p>	The ATO retrieves information from AUSTRAC regarding compliance. </p>
                    </div>
                    <div class="some-info">
                            <p>	Universal Postal Union (UPU) regulations require Posts to share information about the sender, contents, and value with customs authorities.</p>
                    </div>
                </div>
              
          </div>
        </div>
      </div>
  </section>
  
  <section id="our-skill" class="section" style="padding:0px">
      <div class="container">
        <div class="row"> 
          <div class="col-md-12 col-sm-12 col-xs-12 wow fadeIn">
            <div class="info-main">
              <div class="section-title left">
                <h2 style="font-size: 20px">  <span>NON -COMPLIANCE WITH NEW LAWS  :</span></h2>
              </div>
            </div>
            <div>
                <div class="some-info">
                    <p>ATO register you for GST, calculate your liability and issue an assessment. </p>
                </div>
                <div class="some-info">
                  <p>ATO impose an additional 75% administrative penalty plus General Interest Charges (GIC).                    </p>
                </div>
                <div class="some-info">
                  <p>ATO proceeds with recovery action. Outstanding debt is registered in a court in the seller’s country and the taxation authority of that country recovers the debt on behalf of the ATO.  </p>
                </div>
            </div>
          </div>		
        </div>
      </div>
  </section>

  <section id="our-skill" class="section" style="padding:0px">
      <div class="container">
        <div class="row"> 
          <div class="col-md-12 col-sm-12 col-xs-12 wow fadeIn">
            <div class="info-main">
              <div class="section-title left">
                <h2 style="font-size: 20px">  <span>JPD’s Role :</span></h2>
              </div>
            </div>
            <p style="text-align: center">
                <img src="/assets/img/jpd-roles.png" style="margin-left:150px; margin-top:50px"/>
            </p>
          </div>		
        </div>
      </div>
  </section>

  <!-- Start Service -->
  <section id="service" class="section" style="padding-top:20px">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 wow fadeIn">
          <div class="section-title center">
            <h2>Our <span>ITCS</span></h2>
            <!-- <p>Combining our range of services, we can tailor a solution to meet any logistical requirement.</p> -->
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Single Service -->
          <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-delay="0.6s">
              <div class="single-service">
                <i class="fa fa-edit"></i>
                <h2>Information</h2>
                <p>• ITCS is a user friendly cloud based compliance software  </p>
              </div>
          </div>
        <!--/ End Single Service -->

        <!-- Single Service -->
        <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-delay="0.8s">
            <div class="single-service">
              <i class="fa fa-send"></i>
              <h2>API</h2>
              <p>• Alternatively ITCS offers API integration.</p>
            </div>
        </div>
        <!--/ End Single Service -->

        <!-- Single Service -->
        <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn resource-click" data-wow-delay="0.4s">
          <div class="single-service" (click)="arnchange()" >
            <i class="fa fa-check"></i>
            <h2>ARN Registration</h2>
            <p>• Included as part of the ITCS package   </p>
          </div>
        </div>
        <!--/ End Single Service -->
      
        <!-- Single Service -->
        <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn" data-wow-delay="0.4s">
              <div class="single-service">
                <i class="fa fa-check"></i>
                <h2> Customer Service </h2>
                <p>•	Included as part of the ITCS package we will tailor a solution to the sellers needs  </p>
              </div>
        </div>
        <!--/ End Single Service -->
        
      </div>
    </div>
  </section>
  <!--/ End Service -->

  <!-- Start About Us -->
  <section id="about-us" class="section" style="padding: 30px">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 wow fadeIn">
          <div class="section-title center">
            <h2>About <span>US</span></h2>
            <p> 
                Recognising the complexities regarding the changes in Australian import laws for oversea sellers, JPD have developed a simple, flexible and effective solution. The offering we have put together focuses on customer support to navigate the new requirements, flexible IT solutions to suit all needs and a cost effective way to ensure compliance. Contact us today to get started!
            </p>
            </div>
        </div>
      </div>
      <div class="row"> 
        <!-- About Image -->
        <div class="col-md-5 col-sm-12 col-xs-12 wow slideInLeft">
          <div class="about-main">
            <div class="about-img">
              <img src="../../../assets/img/depo.jpg" alt=""/>
            </div>
          </div>
        </div>
        <!--/ End About Image -->
        <div class="col-md-7 col-sm-12 col-xs-12 wow fadeIn" data-wow-delay="1s">
          <!-- About Tab -->
          <div class="tabs-main">
            <!-- Tab Nav -->
            <ul class="nav nav-tabs" role="tablist">
              <li role="presentation" class="active"><a href="#welcome"  data-toggle="tab">What we do best</a></li>
              <li role="presentation"><a href="#about" data-toggle="tab">Our reach</a></li>
              <!-- <li role="presentation"><a href="#information"  data-toggle="tab">Our background</a></li> -->
            </ul>
            <!--/ End Tab Nav -->
            <!-- Tab Content -->
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane fade in active" id="welcome">
              <div class="row">
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="single-tab">
                      <i class="fa fa-check"></i>
                      <!-- <h4>Super Technology</h4> -->
                      <!-- <p> JPD recognise sellers will use different platforms to make sales. Within these different platforms some may collect taxes on the seller’s behalf (e.g. eBay) and some may not. Our system is setup to handle all variations that may occur in the sales of the product.                      </p> -->
                      <p> JPD recognizes/ realises sellers who uses different platforms to make sales. Within these different platforms some clients may collect taxes on the seller's behalf (e.g. eBay) while some may not. Our system is wise enough to handle any variation that occurs during the product sale. </p>

                    </div>
                    
                  </div>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    
                    <div class="single-tab">
                      <i class="fa fa-support"></i>
                      <!-- <h4>Live Support</h4> -->
                      <p> JPD pride themselves on being flexible in relation to IT services. We offer the below and can tailor this to customer requirements:</p>
                      <p> 	Cloud based system or </p>
                      <p>   .	API or </p>
                      <p>   .	iFrame </p>
                    </div>
                    
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                    
                      <div class="single-tab">
                        <i class="fa fa-rocket"></i>
                        <!-- <h4>Speed Marketing</h4> -->
                        <p>	Our system will correctly apply currency conversion and meet all requirements of the law changes.  </p>
                      </div>
                      
                    </div>
                  <div class="col-md-6 col-sm-6 col-xs-12" style="margin-top:-150px">
                    
                    <div class="single-tab">
                      <i class="fa fa-send"></i>
                      <!-- <h4>fast Delivery</h4> -->
                      <p>	We also recognise sellers will use different transport companies for the delivery of purchased products. This will again not affect the way our system handles information.  </p>
                    </div>
                    
                  </div>
                  
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade in" id="about">
                <div class="about">
                  <p>With our combined experience and interest in the industry, JPD Global is able to offer a vast array of services to the eCommerce and freight forwarding industry while keeping up to date with relevant industry legislation and policy to advise and execute the best solution possible every time. </p>
                </div>
              </div>
              <!-- <div role="tabpanel" class="tab-pane fade in" id="information">
                  <p>Dwayne's broad experience and endless contacts in the industry allow us to be at the forefront of the changes that will shape the industry in years to come.</p>
                  <p>Haojie's (Jack) strong network of connections in Australasia allows JPD to competitively service the global market.</p>
                  <p>Chris’s operational knowledge in the import/ export industry has allowed him to create ongoing relations with relevant governing bodies. This allows JPD to offer a diverse range of services to the market.</p>      
              </div> -->
            </div>
            <!--/ End Tab Content -->
          </div>
          <!--/ End About Tab -->
        </div>
      </div>
    </div>
  </section>
  <!--/ End About Us -->

  <!-- Start Resources -->
  <section id="resource" class="section" style="padding-top:20px">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12 wow fadeIn">
              <div class="section-title center">
                <h2> <span>Resources</span></h2>
                <!-- <p>Combining our range of services, we can tailor a solution to meet any logistical requirement.</p> -->
              </div>
            </div>
          </div>
          <div class="row">
            <!-- Single Service -->
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn resource-click" data-wow-delay="0.4s">
              <div class="single-resource" (click)="gstchange()">
                <i class="fa fa-stack-exchange"></i>
                <h2>Australian GST Changes</h2>
                <p>• The world has experienced an extraordinary change in the retail marketplace in the past decade which is evidenced by the 
                  expectation that online shopping will surpass 17.5% of retail sales by 2021. As this market has matured, online sellers 
                  have continually benefitted from tax savings derived from high tax-free thresholds in many markets including Australia.
                </p>
              </div>
            </div>
            <!--/ End Single Service -->
            <!-- Single Service -->
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn resource-click" data-wow-delay="0.6s">
              <div class="single-resource" (click)="gstclick()">
                <i class="fa fa-edit"></i>
                <h2>Australian GST Update</h2>
                <p>• Less than a month remains in the first quarter of the Australian 2018-19 financial year. Never before has a single 
                  quarter held such relevance on a global stage nor has the impact of what is to follow been dismissed so cheaply. 
                  As the ATO prepares to receive a multitude of quarterly reports from around the world, many of those who import to 
                  Australia are still neglecting their new responsibilities. </p>
              </div>
            </div>
            <!--/ End Single Service -->
            <!-- Single Service -->
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn resource-click" data-wow-delay="0.8s">
              <div class="single-resource" (click)="termsclick()">
                <i class="fa fa-handshake-o"></i>
                <h2>Terms and Condition</h2>
                <p>• The JPD Service may evolve over time based on user feedback, business requirements, changes in law and other factors. 
                  JPD reserves the right to change these terms at any time, effective upon the posting of modified terms and 
                  JPD will make every effort to communicate these changes to You via email or notification via the Website or another 
                  reasonable means. </p>
              </div>
            </div>
            <!--/ End Single Service -->
            <!-- Single Service -->
            <div class="col-md-3 col-sm-6 col-xs-12 wow fadeIn resource-click" data-wow-delay="0.4s">
                  <div class="single-resource" (click)="policyclick()">
                    <i class="fa fa-send"></i>
                    <h2>Privacy Policy </h2>
                    <p>• We are bound by the Privacy Act 1988 (Cth) (Privacy Act) and the Australian Privacy Principles (APPs). 
                      This policy explains how and why we collect, use, hold and disclose your personal information. 
                      By registering to use the Service you acknowledge that You have read and understood these Terms and have the authority 
                      to act on behalf of any person for whom You are using the Service.  </p>
                  </div>
            </div>
            <!--/ End Single Service -->
          </div>
        </div>
  </section>
  <!--/ End Resources -->

  <!-- Contact Us -->
  <section id="contact" class="section" style="padding: 20px">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 wow fadeIn">
          <div class="section-title center">
            <h2>Contact <span>US</span></h2>
          </div>
        </div>
      </div>
      <!-- Google Map -->
      <div class="row">
        <!-- Contact Form -->
        <div class="col-md-5 col-sm-5 col-xs-12">
          <form class="form" method="post" action="mail/mail.php">
            <div class="form-group">
              <input type="text" name="name" placeholder="Name" required="required">
                          </div>
            <div class="form-group">
              <input type="email" name="email" placeholder="Email" required="required">
                          </div>
            <div class="form-group">
              <input type="text" name="subject" placeholder="Subject" required="required">
                          </div>
            <div class="form-group">
              <textarea name="message" rows="6" placeholder="Message" ></textarea>
                          </div>
            <div class="form-group">	
              <button type="submit" class="button primary"><i class="fa fa-send"></i>Submit</button>
                          </div>
          </form>
        </div>
        
        <!--/ End Contact Form -->
      </div>
    </div>
    <div class="gmap">
      <div class="map"></div>
    </div>
  </section>
  <!--/ End Clients Us -->

  <!-- Location -->
  <!-- <section id="location" class="section" style="padding: 20px">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12 wow fadeIn">
          <div class="section-title center">
            <h2>Our <span>Location</span></h2>
            <p>Coordinates for abs potioning the closest positioned parent box of the positioned abs qoning the closes for abs potioning the closest positioned parent.</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 col-sm-4 col-xs-12 wow fadeIn" data-wow-delay="0.4s">
          <div class="single-address">
            <i class="fa fa-phone"></i>
            <h4>Our Phone</h4>
            <p>	+61470271180 </p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 wow fadeIn" data-wow-delay="0.6s">
          <div class="single-address active">
            <i class="fa fa-phone"></i>
            <h4></h4>
            <p>Ground Floor, Suite 3, 410 Church Street, North Parramatta, NSW - 2151.</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-4 col-xs-12 wow fadeIn" data-wow-delay="0.8s">
          <div class="single-address">
            <i class="fa fa-phone"></i>
            <h4>Corporate Email</h4>
            <p>gst@jpdglobal.com.au</p>
          </div>
        </div>

      </div>
    </div>
  </section> -->
  <!--/ End Location -->

  <!-- Start Footer -->
  <footer id="footer" style="margin-top:30px" class="wow fadeIn">
    <!-- Footer Top -->
    <!-- <div class="footer-top">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12 ">
            
            <div class="logo">
              
            </div>	
            
            <ul class="social">
              <li class="active"><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
            </ul>	
            
            <ul class="nav">
              <li><a href="index.html">Home</a></li>
              <li><a href="portfolio.html">Portfolio</a></li>
              <li><a href="blog.html">Latest Blog</a></li>
              <li><a href="#">Contact</a></li>
            </ul>		
            
          </div>
        </div>
      </div>
    </div> -->
    <!--/ End Footer Top -->
    
    <!-- Copyright -->
    <div class="copyright">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-sm-12 col-xs-12">
            <div class="text">
              <p>&copy; Copyright 2018<span><i class="fa fa-heart"></i></span><a href="https://themewagon.com/" target="_blank">JPD</a> Global</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--/ End Copyright -->
  </footer>
  <!--/ End Footer -->
