body {
  padding-top: 54px;
}

@media (min-width: 992px) {
  body {
    padding-top: 56px;
  }
}

.carousel-item {
  height: 50vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.portfolio-item {
  margin-bottom: 30px;
}

.md-md-block{
  margin-top: -30px;
}

#mainNav {
  border-bottom: 1px solid rgba(33,37,41,.1);
  background-color: #fff;
  font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
  -webkit-transition: all .2s;
  -moz-transition: all .2s;
  transition: all .2s;
}

.h3, h3{
font-size: 2.75rem !important;
font-weight: 500;
color: black;
}

.h1, h1 {
  font-size: 1.5rem;
  font-weight: 500;
  font-family: -webkit-pictograph;
  text-align: left !important;
  padding-bottom: 5px !important;
}

a {
color: #007bff;
text-decoration: none;
font-size: 0.85rem;
background-color: transparent;
font-weight: 400;
}

.navbar-dark .navbar-nav .nav-link {
color: rgba(255, 255, 255, 0.79);
}

.dropdown-item {
display: block;
width: 100%;
padding: .65rem 1.8rem;
clear: both;
font-weight: 500;
color: #212529;
text-align: inherit;
white-space: nowrap;
background: 0 0;
border: 0;
}

.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
  height: 60px;
}

.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: .8rem;
  padding-left: .8rem;
}

.navbar-expand-lg .navbar-nav .dropdown-menu-right {
right: auto;
left: auto;
}

.my-4 {
margin-top: 1.5rem!important;
margin-bottom: 1.5rem!important;
color: brown;
}

.h5, h5 {
font-size: 1.15rem;
}

.py-5 {
  padding-bottom: 2rem!important;
  height: 10px;
  padding-top: 0px !important;
}

.btn-primary {
color: #fff;
background-color: brown;
border-color: brown;
margin-left: 10px;
}

.bg-dark {
  background-color: #0671b7 !important;
}

.mt-4 {
  margin-top: -2.5rem!important;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 17px;
  font-weight: 300;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.67;
  letter-spacing: normal;
  text-align: left;
  color: #616161;
}

.main-css{
	    /* width: 1300px; */
      min-width: 400px;
      border: 1px solid #0881d0;
      margin-top: 25px;
      margin-bottom: 20px;
      /* margin-left: 200px; */
}

table {
    border-collapse: collapse;
    width: 100%;
    height: 323px;
}

.table-wrap {
  min-height: 430px;
}
.table-wrap-upload {
  height: 430px;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

  th {
    background-color: #0881d0;
    color: white;
    font-family: initial;
    font-size: 18px;
    font-weight: 400;
  }
  
  header.masthead hr {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  
  header.masthead h1 {
    font-size: 2rem;
  }
  
  header.masthead p {
    font-weight: 300;
  }
  
  @media (min-width:768px) {
    header.masthead p {
      font-size: 1.15rem;
    }
  }
  
  @media (min-width:992px) {
    header.masthead {
      height: 100vh;
      min-height: 650px;
      padding-top: 0;
      padding-bottom: 0;
    }
  
    header.masthead h1 {
      font-size: 3rem;
    }
  }
  
  @media (min-width:1200px) {
    header.masthead h1 {
      font-size: 4rem;
    }
  }
  
  .service-box {
    max-width: 400px;
  }
  
  .portfolio-box {
    position: relative;
    display: block;
    max-width: 650px;
    margin: 0 auto;
  }
  
  .portfolio-box .portfolio-box-caption {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    opacity: 0;
    color: #fff;
    background: rgba(240,95,64,.9);
    -webkit-transition: all .2s;
    -moz-transition: all .2s;
    transition: all .2s;
  }
  
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    text-align: center;
  }
  
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    padding: 0 15px;
    font-family: 'Open Sans','Helvetica Neue',Arial,sans-serif;
  }
  
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
  }
  
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 18px;
  }
  
  .portfolio-box:hover .portfolio-box-caption {
    opacity: 1;
  }
  
  .portfolio-box:focus {
    outline: 0;
  }
  
  @media (min-width:768px) {
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
      font-size: 16px;
    }
  
    .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
      font-size: 22px;
    }
  }

  .content-info{
    background-color: #2484c1;
    width: 350px;
    height: 130px;
    border-radius: 10px;
    font-size: 17px;
    padding: 15px;
    margin-left: 15px;
    float: left;
    color: white;
    font-family: -webkit-pictograph;
  }

  .info-text{
    text-align: right;
    padding-bottom: 10px;
    color: green;
    font-size: 17px;
  }
  
