<!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav"> 
                <div class="container">
                    <a class="navbar-brand" href="index.html" style="font-size:30px; font-weight: 600; font-family: -webkit-pictograph;"> 
                      <img src="/assets/img/logo.jpg" style="margin-right:20px;">JPD Global</a>
                        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" 
                          data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" 
                                aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                  </button>
                  <div class="collapse navbar-collapse" id="navbarResponsive" style="margin-right: -100px;">
                    <ul class="navbar-nav ml-auto">
                      <li class="nav-item">
                        <a class="nav-link" routerLink="/home" routerLinkActive="active" style="font-size: 14px;">HOME</a>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" 
                            style="font-size: 14px;"
                                aria-haspopup="true" aria-expanded="false" routerLink="/services" routerLinkActive="active">
                          SERVICES
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                          <a class="dropdown-item" routerLink="/bas-services" routerLinkActive="active" style="font-size: 13px">GST SERVICES</a>
                          <a class="dropdown-item" routerLink="/fright-services" routerLinkActive="active" style="font-size: 13px">FREIGHT MANAGEMENT SYSTEM </a>
                          <a class="dropdown-item" routerLink="/reverse-services" routerLinkActive="active" style="font-size: 13px">REVERSE LOGISTICS</a>
                          <a class="dropdown-item" routerLink="/depot-services" routerLinkActive="active" style="font-size: 13px">BONDED DEPOT SERVICES</a>
                        </div>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" routerLink="/pricing" routerLinkActive="active" style="font-size: 14px;">PRICING</a>
                      </li>
                      <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" 
                                    aria-haspopup="true" aria-expanded="false" style="font-size: 14px;">
                          RESOURCES
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                            <a class="dropdown-item" routerLink="/resource-gst" routerLinkActive="active" style="font-size: 13px;">
                              AUSTRALIAN GST CHANGES
                            </a>
                            <a class="dropdown-item" routerLink="/resource-article" routerLinkActive="active" style="font-size: 13px;">
                              AUSTRALIAN GST UPDATE
                            </a>
                            <a class="dropdown-item" routerLink="/resource-termsAndServices" routerLinkActive="active" style="font-size: 13px;">
                              TERMS AND CONDITION
                            </a>
                            <a class="dropdown-item" routerLink="/resource-policy" routerLinkActive="active" style="font-size: 13px;">
                              PRIVACY POLICY
                            </a>
                        </div>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" routerLink="/contact" routerLinkActive="active" style="font-size: 13px;">CONTACT US</a>
                      </li>
                      <li class="nav-item">
                          <a class="nav-link" routerLink="/about" routerLinkActive="active" style="font-size: 13px;">ABOUT US</a>
                      </li>
        
                      <li class="nav-item">
                        <a class="nav-link" routerLink="/login" routerLinkActive="active" style="font-size: 13px;">LOGIN & SIGNUP</a>
                      </li>
        
                    </ul>
                  </div>
                </div>
    </nav>
    
    <!-- Page Content -->
    <div class="container" style="margin-top:20px">

                <ngx-spinner
		        bdColor="rgba(51,51,51,0.8)"
			size="medium"
			color="#fff"
			loadingText="Loading..."
			type="ball-circus">
		</ngx-spinner>

      <div style="height: 190px; margin-top: 80px;">
                <div>
                   <div class="info-text"> Company Name : {{companyName}} </div>
                   <div class="info-text">*Conversion Rate Last Updated Time : {{currencyUpdatedTime}}</div>     
                </div>
                <div class="content-info"> 
                        <div>
                                <label style="float:left"> User : </label>
                                <label style="margin-left: 10px;"> {{userName}} </label>
                        </div>
                        <div style="float: clear">
                                <label style="float:left"> Access : </label>
                                <label style="margin-left: 10px;"> {{access}} </label>
                        </div>
                        <div style="float: clear">
                                        <label style="float:left"> User Code (ARN) : </label>
                                        <label style="margin-left: 10px;"> {{userCode}} </label>
                        </div>
                </div>
                <div class="content-info"> 
                        <div>
                                <label> Outstanding GST amount - Imports </label>
                                <label style="margin-left: 100px;"> {{importSumValue}} AUD </label>
                        </div>
                        <div style="margin-left: 75px">
                                <label style="float:left"> As on : </label>
                                <label style="margin-left: 10px;"> {{currentDate}} </label>
                        </div>
                </div>
                <div class="content-info">
                        <div>
                                <label> Outstanding GST amount - Exports </label>
                                <label style="margin-left: 100px;"> {{exportSumValue}} AUD </label>
                        </div>
                        <div style="margin-left: 75px">
                                <label style="float:left"> As on : </label>
                                <label style="margin-left: 10px;"> {{currentDate}} </label>
                        </div>
                </div>
           </div>
        <div>
               
        <div class="main-css">
                        <mat-tab-group>        
                                <mat-tab label="Upload File - Import Parcel">
                                        <div style="padding: 15px">
                                                <a href="/assets/forms/Import-Export-Template.xlsx" class="fa fa-file-excel-o" 
                                                    style="color: darkgreen; font-size:18px;" download>
                                                           **Please click here to download the template for file Import/Export 
                                                </a>
                                            </div>
                                                <div style="padding: 20px;">
                                                        <input type="file" style="display: inline-block;" (change)="incomingfile($event)" 
                                                                        placeholder="Upload file" accept=".xls,.xlsx">
                                                        <button type="button" class="btn btn-info" (click)="Import()" 
                                                                style="background-color: #0671b7;">Upload</button>
                        
                                                        <div style="margin-top: 20px;">
                                                            <p style="color:green; font-size: 18px;font-weight: 500;">{{successMsg}}</p>
                                                        </div>

                                                        <div style="margin-top: 20px;">
                                                             <p style="color: #ca2929; font-size:16px; font-weight:500;">
                                                                     {{errorMsg}}</p>
                                                        </div>
                        
                                                        <div style="margin-top: 20px;"> 
                                                                <mat-progress-bar mode="determinate" value= "100"></mat-progress-bar>
                                                        </div>
                        
                                                        <div class="table-wrap">
                                                            <table style="width: 100%;border:1px solid #ccc; border: 1px solid #ccc; margin-top: 20px;">
                                                                        <thead>
                                                                                <tr>
                                                                                        <th>Serial.No</th>
                                                                                        <th>User Code(ARN)</th>
                                                                                        <th>GST Eligible</th>
                                                                                        <th>Reference No</th>
                                                                                        <th>Amount</th>
                                                                                        <th>Currency Code</th>
                                                                                        <th>AUD Amount</th>
                                                                                        <th>Report Indicator</th>
                                                                                        <th>GST Payable</th>
                                                                                        <th style="width:130px">Sale Date</th>
                                                                                </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                                <tr *ngFor="let file of fileData;let i = index">
                                                                                        <td>{{i+1}}</td>
                                                                                        <td>{{file.user_code}}</td>
                                                                                        <td>{{file.GST_eligible}}</td>
                                                                                        <td>{{file.reference_no}}</td>
                                                                                        <td>{{file.amount}}</td> 
                                                                                        <td>{{file.currency_code}}</td> 
                                                                                        <td>{{file.aud_converted_value}}</td>
                                                                                        <td>{{file.report_indicator}}</td>
                                                                                        <td>{{file.gst_payable}}</td>   
                                                                                        <td>{{file.arrival_date}}</td>                                               
                                                                                </tr>
                                                                        </tbody>
                                                        </table>
                                                        </div>
                                        </div>
                                </mat-tab>
                                <mat-tab label="Upload File - Export Parcel">

                                                <div style="padding: 15px; margin-left: 15px;">
                                                        <a href="/assets/forms/Import-Export-Template.xlsx" class="fa fa-file-excel-o" 
                                                           style="color: darkgreen; font-size:18px;" download>
                                                                **Please click here to download the template for file Import/Export 
                                                        </a>
                                                </div>

                                                <div style="padding: 20px">
                                                <input type="file" style="display:inline-block" (change)="incomingfile($event)" placeholder="Upload file" accept=".xls,.xlsx">
                                                        <button type="button" class="btn btn-info" 
                                                                        style="background-color: #0671b7" (click)="Export()" >Upload</button>
                                                        
                                                        <div style="margin-top: 20px">
                                                                        <p style="color:green; font-size:18px; font-weight:500">{{exportSuccessMsg}}</p>
                                                        </div>

                                                        <div style="margin-top: 20px">
                                                             <p style="color: #ca2929; font-size:16px; font-weight:500">
                                                                                {{exportErrorMsg}}</p>
                                                        </div>
                                
                                                        <div style="margin-top: 20px"> 
                                                                        <mat-progress-bar mode="determinate" value= "100"></mat-progress-bar>
                                                        </div>
                                                        
                                                        <div class="table-wrap-upload">
                                                             <table style="width: 100%;border:1px solid #ccc; border: 1px solid #ccc; margin-top: 20px;">
                                                                     <thead>
                                                                             <tr>
                                                                                                        <th>Serial.No</th>
                                                                                                        <th>User Code(ARN)</th>
                                                                                                        <th>GST Eligible</th>
                                                                                                        <th>Reference No</th>
                                                                                                        <th>Amount</th>
                                                                                                        <th>Currency Code</th>
                                                                                                        <th>AUD Amount</th>
                                                                                                        <th>Report Indicator</th>
                                                                                                        <th>GST Payable</th>
                                                                                                        <th style="width:130px">Sale Date</th>
                                                                                                </tr>
                                                                              </thead>
                                                                              <tbody>
                                                                                                <tr *ngFor="let file of fileDataExport;let i = index">
                                                                                                        <td>{{i+1}}</td>
                                                                                                        <td>{{file.user_code}}</td>
                                                                                                        <td>{{file.GST_eligible}}</td>
                                                                                                        <td>{{file.reference_no}}</td>
                                                                                                        <td>{{file.amount}}</td> 
                                                                                                        <td>{{file.currency_code}}</td> 
                                                                                                        <td>{{file.aud_converted_value}}</td>
                                                                                                        <td>{{file.report_indicator}}</td>
                                                                                                        <td>{{file.gst_payable}}</td>   
                                                                                                        <td>{{file.arrival_date}}</td>                                                     
                                                                                                </tr>
                                                                               </tbody>
                                                             </table>
                                                        </div>
                                                </div>
                                        </mat-tab>
                                        
                           <mat-tab *ngIf="downLoadFlag" label="Download Report">
                                        <div style="height: 630px;">
                                                <div style="padding:20px">
                                                                <div style="font-weight: 500;"> 
                                                                        Please select the below Option to download the report :</div>
                                                </div>

                                                <div>
                        
                                                        <div style="margin-left: 30px; float: left;">
                                                                        <div style="margin-bottom: 15px;"> Select the File Type</div>
                                                                        <mat-radio-group (change)='onradioChange($event)'>
                                                                                <mat-radio-button value="1" style="padding-right: 20px;">Import</mat-radio-button>
                                                                                <mat-radio-button value="2" style="padding-right: 20px;">Export </mat-radio-button>
                                                                                <mat-radio-button value="3">All</mat-radio-button>
                                                                        </mat-radio-group>
                                                        </div>
                                
                                                        <div style="margin-left: 80px; float:left; width:250px">
                                                                <div style="margin-bottom: 15px;"> Time Period</div>
                                                                        <div class="form-group" style="margin-top:10px; border-bottom: 1px solid;">
                                                                                <mat-select placeholder="Select Time Period">
                                                                                        <mat-option *ngFor="let time of timePeriod" [value]="time" (click)="timePeriodFun(time)">
                                                                                                {{time}}
                                                                                        </mat-option>
                                                                                </mat-select>
                                                                        </div>
                                                        </div>
                                
                                                        <div style="margin-left: 100px; float:left; margin-top:20px">
                                                                <button class="btn btn-info" (click)="downLoad()" style="background-color: #0671b7">
                                                                                Download as CSV
                                                                </button>         
                                                        </div>
                                                        
                                                       
                                                </div>

                                                <div style="padding: 10px"> 
                                                        <mat-progress-bar mode="determinate" value= "100"></mat-progress-bar>
                                                </div>

                                                <div style="margin-top: 20px">
                                                        <p style="color: #ca2929; font-size:16px; font-weight:500; margin-left:15px">
                                                                           {{downloadErrorMsg}}</p>
                                                </div>

                                                <div class="table-wrap-upload" style="padding: 10px">
                                                                <table style="width: 100%; position: absolute; border: 1px solid #ccc; margin-top:95;">
                                                                            <thead>
                                                                                    <tr>
                                                                                            <th>Serial.No</th>
                                                                                            <th>User Code(ARN)</th>
                                                                                            <th>GST Eligible</th>
                                                                                            <th>Reference No</th>
                                                                                            <th>Amount</th>
                                                                                            <th>Currency Code</th>
                                                                                            <th>Amount(AUD)</th>
                                                                                            <th>Report Indicator</th>
                                                                                            <th>GST Payable</th>
                                                                                            <th style="width:130px">Sale Date</th>
                                                                                    </tr>
                                                                            </thead>
                                                                            <tbody>
                                                                                    <tr *ngFor="let file of downloadData;let i = index">
                                                                                                <td>{{i+1}}</td>
                                                                                                <td>{{file.userCode}}</td>
                                                                                                <td>{{file.gstEligible}}</td>
                                                                                                <td>{{file.referenceNo}}</td>
                                                                                                <td>{{file.amount}}</td> 
                                                                                                <td>{{file.currencyCode}}</td> 
                                                                                                <td>{{file.audConvertedAmount}}</td>
                                                                                                <td>{{file.reportIndicator}}</td>
                                                                                                <td>{{file.gstPayable}}</td>   
                                                                                                <td>{{file.saleDate}}</td>                                                 
                                                                                    </tr>
                                                                            </tbody>
                                                                </table>
                                                </div>
                                        </div>
                           </mat-tab>
                        </mat-tab-group>
                </div>
        </div>
    </div>
    <!-- /.container -->

    <!-- Footer -->
    <footer class="py-5 bg-dark">
        <div class="container">
          <div class="m-0 text-center text-white">Copyright &copy; JPD Global Logistics System</div>
        </div>
    </footer>






