<header id="header">
    <div class="container">
      <div class="row">
        <div class="col-md-2 col-sm-12 col-xs-12">
          <!-- Logo -->
          <div class="logo">
          </div>
          <!--/ End Logo -->
        </div>
        <div class="col-md-10 col-sm-12 col-xs-12">
          <div class="nav-area">
            <!-- Main Menu -->
            <nav class="mainmenu">
              <div class="mobile-nav"></div>
              <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav menu">
                  <li class="active"><a routerLink="/home">Home</a></li>
                  <li><a routerLink="/home">ITCS</a></li>
                  <li><a routerLink="/home">About Us</a></li>
                  <li><a routerLink="/home">Resources</a></li>		
                  <li><a routerLink="/home">Contact US</a></li>
                  <li><a routerLink="/login">Login</a></li>
                </ul>
              </div>
            </nav>
            <!--/ End Main Menu -->
          </div>
        </div>
      </div>
    </div>
</header>

   <!-- Page Content -->
   <div class="container" class="article-service">
      <section id="our-skill" class="section" style="padding:0px">
          <div class="container">
            <div class="row"> 
              <div class="col-md-12 col-sm-12 col-xs-12 wow fadeIn">
                <div class="info-main">
                  <div class="section-title left">
                    <h2 style="font-size: 20px; text-align: center">  
                          <span> PRIVACY POLICY </span></h2>
                  </div>
                </div>
                <div>
                </div>
              </div>		
            </div>
          </div>
      </section>

      <section id="our-skill" class="section" style="padding:0px">
          <div class="container">
            <div class="row"> 
              <div class="col-md-12 col-sm-12 col-xs-12 wow fadeIn">
                <div>
                                   
               <p> We are bound by the Privacy Act 1988 (Cth) (Privacy Act) and the Australian Privacy Principles (APPs). This policy explains how and why we collect, use, hold and disclose your personal information.</p>
               <p> “We”, “us” and “our” means JPD Global Pty Ltd ACN 617 936 606, a company incorporated under the laws of Australia, and all current and future global or local subsidiaries of JPD Global Pty Ltd of Ground Floor, Suite 3, 410 Church Street, North Parramatta, New South Wales 2151, Australia. </p> 
               <p> You consent to us collecting, holding, using and disclosing your personal information in accordance with this policy.</p>

               <p> By registering to use the Service you acknowledge that You have read and understood these Terms and have the authority to act on behalf of any person for whom You are using the Service. You are deemed to have agreed to these Terms on behalf of any entity for whom you use the Service.</p>
               <p> These Terms were last updated at the close of business (Sydney time) on 31 July 2018</p>

               <h4 class="subheading">WHAT IS PERSONAL INFORMATION?</h4>
                    <p>Personal information is any information or an opinion about an identified individual or an individual who can be reasonably identified from the information or opinion. Information or an opinion may be personal information regardless of whether it is true.</p>
               
               <h4 class="subheading">WHAT PERSONAL INFORMATION DO WE COLLECT AND HOLD?</h4>
                    <p>We collect information about you and your interactions with us, for example, when you purchase or use any of our products or services (including our software), call us or visit our website. The information we collect from you may include your identity and contact details, your history of purchases and use of our products and services and details of enquiries or complaints you make</p>

                    <p>We may collect information about how you access, use and interact with the website. This information may include:</p>

                    <p>(a)	the location from which you have come to the site and the pages you have visited; and</p>

                    <p>(b)  technical data, which may include IP address, the types of devices you are using to access the website, device attributes, browser type, language and operating system.</p>

                    <p>We use cookies on the website. A cookie is a small text file that the website may place on your device to store information. We may use persistent cookies (which remain on your computer even after you close your browser) to store information that may speed up your use of our website for any of your future visits to the website. We may also use session cookies (which no longer remain after you end your browsing session) to help manage the display and presentation of information on the website. You may refuse to use cookies by selecting the appropriate settings on your browser. However, please note that if you do this, you may not be able to use the full functionality of the website.</p>
                    
                <h4 class="subheading">WHY DO WE COLLECT, HOLD AND USE YOUR PERSONAL INFORMATION?</h4>
                    
                    <p> We collect, hold and use your personal information so that we can:</p>    

                    <p>(a)  provide you with products and services, and manage our relationship with you;</p>

                    <p>(b)	contact you, for example, to respond to your queries or complaints, or if we need to tell you something important;</p>

                    <p>(c)	comply with our legal obligations and assist government and law enforcement agencies or regulators; or</p>

                    <p>(d)	identify and tell you about other products or services that we think may be of interest to you.</p>

                    <p> If you do not provide us with your personal information we may not be able to provide you with our services, communicate with you or respond to your enquiries.</p>

                    
                  <h4 class="subheading">HOW DO WE COLLECT YOUR PERSONAL INFORMATION?</h4>

                    <p> We will collect your personal information directly from you whenever you interact with us.</p>

                    <p> We may collect information from third parties such as government registers, tax and professional advisers.</p>

                  
                  <h4 class="subheading">HOW DO WE STORE AND HOLD PERSONAL INFORMATION?</h4>

                    <p> We store most information about you in computer systems and databases operated by either us or our external service providers. Some information about you is recorded in paper files that we store securely.</p>

                    <p> We implement and maintain processes and security measures to protect personal information which we hold from misuse, interference or loss, and from unauthorised access, modification or disclosure.</p>

                    <p> These processes and systems include:</p>

                    <p> (a)	the use of identity and access management technologies to control access to systems on which information is processed and stored;</p>
                    
                    <p> (b)	requiring all employees to comply with internal information security policies and keep information secure;</p>

                    <p> (c) requiring all employees to complete training about information security; and</p>

                    <p> (d)	monitoring and regularly reviewing our practise against our own policies and against industry best practice.</p>
                    
                    <p> We will also take reasonable steps to destroy or de-identify personal information once we no longer require it for the purposes for which it was collected or for any secondary purpose permitted under the APPs.</p>

                    <h4 class="subheading">WHO DO WE DISCLOSE YOUR PERSONAL INFORMATION TO, AND WHY?</h4>
                            
                            <p>We may transfer or disclose your personal information to our related companies, our professional advisers and consultants and government authorities and agencies.</p>
                            
                            <p>We may disclose personal information to external service providers so that they may perform services for us or on our behalf.</p>

                            <p>We may also disclose your personal information to others outside our group of companies where:</p>

                            <p>(a)	we are required or authorised by law to do so;</p>

                            <p>(b)	you may have expressly consented to the disclosure or the consent may be reasonably inferred from the circumstances; or</p>

                            <p>(c)	we are otherwise permitted to disclose the information under the Privacy Act.</p>

                            <p>If the ownership or control of all or part of our business changes, we may transfer your personal information to the new owner.</p>
                    
                     <h4 class="subheading">DO WE DISCLOSE PERSONAL INFORMATION TO OVERSEAS RECIPIENTS?</h4>

                        <p> We may disclose your personal information to recipients which are located outside Australia.</p>

                        <p> Those recipients are likely to be located in the Philippines or the United States of America.</p>

                     <h4 class="subheading">DO WE USE YOUR PERSONAL INFORMATION FOR MARKETING?</h4>

                        <p> We will use your personal information to offer you products and services we believe may interest you, but we will not do so if you tell us not to. These products and services may be offered by us, our related companies, our other business partners or our service providers.</p>

                        <p> Where you receive electronic marketing communications from us, you may opt out of receiving further marketing communications by following the opt-out instructions provided in the communication.</p>

                     <h4 class="subheading">ACCESS TO AND CORRECTION OF YOUR PERSONAL INFORMATION</h4>

                        <p> You may access or request correction of the personal information that we hold about you by contacting us. Our contact details are set out below. There are some circumstances in which we are not required to give you access to your personal information.</p>

                        <p> There is no charge for requesting access to your personal information but we may require you to meet our reasonable costs in providing you with access (such as photocopying costs or costs for time spent on collating large amounts of material).</p>

                        <p> We will respond to your requests to access or correct personal information in a reasonable time and will take all reasonable steps to ensure that the personal information we hold about you remains accurate, up to date and complete.</p>
                
                     <h4 class="subheading">COMPLAINTS</h4>

                        <p> If you have a complaint about the way in which we have handled any privacy issue, including your request for access or correction of your personal information, you should contact us. Our contact details are set out below.</p>

                        <p> We will consider your complaint and determine whether it requires further investigation. We will notify you of the outcome of this investigation and any subsequent internal investigation.</p>

                        <p> If you remain unsatisfied with the way in which we have handled a privacy issue, you may approach an independent advisor or contact the Office of the Australian Information Commissioner (www.oaic.gov.au) for guidance on alternative courses of action which may be available.</p>
                
                    <h4 class="subheading">CONTACT DETAILS</h4>

                        <p> If you have any questions, comments, or concerns, please contact us at: <a href="mailto:chris@jpdglobal.com.au"></a>chris@jpdglobal.com.au</p>

                    <h4 class="subheading">CHANGES TO THIS POLICY</h4>

                        <p> From time to time, we may change our policy on how we handle personal information or the types of personal information which we hold. Any changes to our policy will be published on our website.</p>

                        <p> You may obtain a copy of our current policy from our website or by contacting us at the contact details above.</p>
           
                </div>
              </div>		
            </div>
          </div>
      </section>
   </div>
  
<footer id="footer" style="margin-top: 30px" class="wow fadeIn">
      <!-- Copyright -->
      <div class="copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="text">
                <p>&copy; Copyright 2018<span><i class="fa fa-heart"></i></span><a href="https://themewagon.com/" target="_blank">JPD</a> Global</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--/ End Copyright -->
</footer>