
    <!-- Navigation -->
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark fixed-top" id="mainNav"> 
        <div class="container">
            <a class="navbar-brand" href="index.html" style="font-size:30px; font-weight: 600; font-family: -webkit-pictograph;"> 
              <img src="/assets/img/logo.jpg" style="margin-right:20px;">JPD Global</a>
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" 
                  data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" 
                        aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarResponsive" style="margin-right: -100px;">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <a class="nav-link" routerLink="/home" routerLinkActive="active" style="font-size: 14px;">HOME</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownPortfolio" data-toggle="dropdown" 
                    style="font-size: 14px;"
                        aria-haspopup="true" aria-expanded="false" routerLink="/services" routerLinkActive="active">
                  SERVICES
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownPortfolio">
                  <a class="dropdown-item" routerLink="/bas-services" routerLinkActive="active" style="font-size: 13px">GST SERVICES</a>
                  <a class="dropdown-item" routerLink="/fright-services" routerLinkActive="active" style="font-size: 13px">FREIGHT MANAGEMENT SYSTEM </a>
                  <a class="dropdown-item" routerLink="/reverse-services" routerLinkActive="active" style="font-size: 13px">REVERSE LOGISTICS</a>
                  <a class="dropdown-item" routerLink="/depot-services" routerLinkActive="active" style="font-size: 13px">BONDED DEPOT SERVICES</a>
                </div>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/pricing" routerLinkActive="active" style="font-size: 14px;">PRICING</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownBlog" data-toggle="dropdown" 
                            aria-haspopup="true" aria-expanded="false" style="font-size: 14px;">
                  RESOURCES
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownBlog">
                    <a class="dropdown-item" routerLink="/resource-gst" routerLinkActive="active" style="font-size: 13px;">
                      AUSTRALIAN GST CHANGES
                    </a>
                    <a class="dropdown-item" routerLink="/resource-article" routerLinkActive="active" style="font-size: 13px;">
                      AUSTRALIAN GST UPDATE
                    </a>
                    <a class="dropdown-item" routerLink="/resource-termsAndServices" routerLinkActive="active" style="font-size: 13px;">
                      TERMS AND CONDITION
                    </a>
                    <a class="dropdown-item" routerLink="/resource-policy" routerLinkActive="active" style="font-size: 13px;">
                      PRIVACY POLICY
                    </a>
                </div>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/contact" routerLinkActive="active" style="font-size: 13px;">CONTACT US</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="/about" routerLinkActive="active" style="font-size: 13px;">ABOUT US</a>
              </li>

              <li class="nav-item">
                <a class="nav-link" routerLink="/login" routerLinkActive="active" style="font-size: 13px;">LOGIN & SIGNUP</a>
              </li>

            </ul>
          </div>
        </div>
    </nav>

    <div class="about-css">
    <!-- Page Content -->
      <div class="container" style="margin-top: 10px">

              <!-- Page Heading/Breadcrumbs -->
              <h1 class="mt-4 mb-3" style="font-size: 25px;">ABOUT US
                </h1>
          
                <ol class="breadcrumb">
                  <li class="breadcrumb-item">
                    <a href="index.html">HOME</a>
                  </li>
                  <li class="breadcrumb-item active">ABOUT</li>
                </ol>

        <!-- Image Header -->
        <div>
          <img class="img-fluid rounded mb-4" src="/assets/img/jpd.jpg" alt="" style="width:1200px; height: 400px">
        </div>

        <div class="container">
            <div>
                <h4 class="my-4-about" style="text-align: center !important">JPD GLOBAL</h4>
                <p> 
                    Operating for over 5 years now, Directors Dwayne, Haojie and Chris have pooled their combined 50 years of industry skills and experience to form JPD Global and create a unique business model. Below is a glimpse of our experience:              </p>
                <p>
                    Dwayne's broad experience and endless contacts in the industry allow us to be at the forefront of the changes that will shape the industry in years to come.
                </p>
                <p>
                    Haojie's (Jack) strong network of connections in Australasia allows JPD to competitively service the global market.              </p>
                <p> 
                    Chris’s operational knowledge in the import/ export industry has allowed him to create ongoing relations with relevant governing bodies. This allows JPD to offer a diverse range of services to the market.
                </p>
                <p>
                    With our combined experience and interest in the industry, JPD Global is able to offer a vast array of services to the eCommerce and freight forwarding industry while keeping up to date with relevant industry legislation and policy to advise and execute the best solution possible every time.
                </p>
            </div>
      </div>


        <!-- Team Members -->
        <!-- <h1  style="font-size: 30px;">Our Team</h1>

        <div class="row" style="margin-top:20px">
          <div class="col-lg-4 mb-4">
            <div class="card h-100 text-center" style="height: 10% !important">
              <img class="card-img-top" src="/assets/img/about-user-men.jpg" alt="">
              <div class="card-body">
                <h4 class="card-title">Dwayne Penguilly</h4>
                <h6 class="card-subtitle mb-2 text-muted">Managing Director</h6>
                <p class="card-text"></p>
              </div>
              <div class="card-footer">
                  <a href="mailto:Dwayne@jpdglobal.com.au" style="font-size:18px">Dwayne@jpdglobal.com.au</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-4">
            <div class="card h-100 text-center" style="height: 10% !important">
              <img class="card-img-top" src="/assets/img/about-user-men.jpg" alt="">
              <div class="card-body">
                <h4 class="card-title">Chris Denam</h4>
                <h6 class="card-subtitle mb-2 text-muted">Sales Director</h6>
                <p class="card-text"></p>
              </div>
              <div class="card-footer">
                  <a href="mailto:chris@jpdglobal.com.au" style="font-size:18px">chris@jpdglobal.com.au</a>
              </div>
            </div>
          </div>
          <div class="col-lg-4 mb-4">
            <div class="card h-100 text-center" style="height: 10% !important">
              <img class="card-img-top" src="/assets/img/about-user-men.jpg" alt="">
              <div class="card-body">
                <h4 class="card-title">Haojie's (Jack)</h4>
                <h6 class="card-subtitle mb-2 text-muted">operational Head</h6>
                <p class="card-text"></p>
              </div>
              <div class="card-footer">
                <a href="mailto:jack@jpdglobal.com.au" style="font-size:18px">jacks@jpdglobal.com.au</a>
              </div>
            </div>
          </div>
        </div> -->
        <!-- /.row -->

      </div>
    <!-- /.container -->

      <!-- Footer -->
    <footer class="bg-dark">
        <div class="container">
          <p class="m-0 text-center text-white">Copyright &copy; JPD Global Logistics System</p>
        </div>
        <!-- /.container -->
      </footer>

    </div>

    